[2014-07-24 11:50] ceedubs opened #1 "Duplicate close vals in generated code"
Running `sbt compile` generates the following error for me:

[code]

The generated code has this:
[code]

Java info:
[code]

One of these days I'm going to get it right on the first try.

[2014-08-07 18:12] tpolecat opened #3 "Add error handling and resource cleanup to FreeUsage"
well duh

[2014-08-14 05:22] tpolecat opened #4 "Split Atom"
There is no reason in principle why every readable type needs to be writable; split `Atom` into read/write pairs (like Argonaut does).

[2014-08-14 05:23] tpolecat opened #5 "Add callablestatement module in hi"

[2014-08-14 05:25] tpolecat opened #6 "Add CatchSQL typeclass and bedazzlement"
`Catchable[M]` implies `CatchSQL[M]` ... combinators for catching SQL state. Can dig up H2 SQLState table from the wastebin.

[2014-08-14 05:28] tpolecat opened #7 "Structured Logging"
Add exception-proof structured logging that can produce usable traces like [this](https://github.com/tpolecat/doobie/blob/master/log.png). Need to have sliding windows or something to prevent unbounded trace growth. This will require messing with the `Kleisli` interpreters or adding additional ones.

[2014-08-14 05:29] tpolecat opened #8 "Example of tagged types for alternative column mapping"

[2014-08-14 05:31] tpolecat opened #9 "String interpolator for CallableStatement"
This will require some kind of tagging to distinguisg In/Out/InOut parameters. Maybe start with something simple with many In and one Out? Depends on #5.

[2014-08-14 05:32] tpolecat opened #10 "Alternative Capture[Task] that forks"
This is easy, but we need to figure out a coherence policy. Selecting an alternative `Capture` instance will not affect the computed results so maybe it's not an issue. Or figure out how to tag higher-kinded types.

[2014-08-14 05:33] tpolecat opened #11 "Add HTTP4s example"
This is working on a WIP branch of HTTP4s; just need to wait for a release with scalaz 7.1 and streams 0.5a

[2014-08-19 23:28] tpolecat opened #12 "Single-element products should be treated as atoms"
Right now you have to use `xmap` to create an atom for a 1-element product; we should be able to do this automatically.

[2014-10-10 15:07] #11 closed, assigned to nobody

[2014-10-22 00:25] #8 closed, assigned to nobody

[2014-10-22 00:25] #6 closed, assigned to nobody

[2014-11-04 04:10] tpolecat opened #26 "Analysis fails for array/object types."

[2014-11-04 04:11] tpolecat opened #27 "Finish up initial book of doobie."

[2014-11-04 04:13] tpolecat opened #28 "Figure out diagnostics abstraction for Update/Query."
There are two identical traits that probably don't need to exist at all. Does it make sense to abstract out a supertype for `Update` and `Query`?

[2014-11-13 05:04] #26 closed, assigned to nobody

[2014-11-13 05:32] #3 closed, assigned to nobody

[2014-12-22 08:12] tpolecat opened #41 "HikariTransactor"

[2014-12-22 08:13] tpolecat opened #42 "contrib-h2"
Need minimal stuff like `Array` for tut doc.

[2015-01-03 18:10] tpolecat opened #43 "Nullability via Maybe (or other?)"

[2015-01-13 13:16] prange commented on #41
Any quick workaround for using HickaryCP?

[2015-01-13 16:37] tpolecat commented on #41
Hi @prange, I want to build an algebra and free monad so you can do all the configuration, etc., in an API that fits with the rest of doobie, but yeah for now just hack something up based on that example.

FYI at this point we're really close to v0.2 so your best bet is to build and publish-local and use the snapshot.

[2015-01-13 18:42] prange commented on #41
Yes, i have cloned the 0.2-SNAPSHOT and will use that for the moment...

[2015-01-14 08:26] prange opened #45 "Unclear requirements of sql string building"
I have
[code]

I am trying to construct an sql string using `sql`
[code]
The above requires an implicit Atom[Player] in scope, which as i understand, is a contradiction, since a Player is not an atom but a product of PlayerId and Email.

Of course
[code]
runs fine.

Is my understanding fundamentally wrong? Or maybe i missed some documentation? Or might this jsut be a bit unclear for newbies on noo

[2015-01-14 08:55] prange commented on #43
Would this also mean that unique would yield an Option? If not, what would the idiomatic way to get 0 or 1 rows from a table?

[2015-01-14 12:44] prange commented on #45
There is of course a bug in my first version of the function, putting curlies around the variables resolves the problem. But it would still be interesting to know more about the rationale of the design of the sql resolver.

[2015-01-14 17:18] tpolecat opened #46 "Add 'option' combinator for Query"
Need a way to get 0 or 1 rows, as suggested by @prange in #43.

[2015-01-14 17:22] tpolecat commented on #43
This issue is just to support `scalaz.Maybe` for nullable values (they're all mapped as `Option` right now).

Right now there is not a `.option` method on `Query`, which is what you're asking for. A workaround for now is to say `.list.headOption`, which will not fail if there is more than one row returned (`.option` will, but it's not there yet).

[2015-01-14 17:26] tpolecat commented on #45
The `sql` interpolator works like any other string interpolator in Scala. The interpolated values require an `Atom` instance, which means they can be mapped to a column value. The documentation in process for v0.2 will explain this in a bit more detail. Did you have a specific question?

[2015-01-14 19:33] prange commented on #45
After some thinking it is pretty obvious to take in atom instances, that makes it nice and typesafe.

[2015-01-14 19:33] #45 closed

[2015-01-14 19:35] prange commented on #43
Yes, after some more code reading and a bit trying i figured out that its two totally different things. I am all for using Maybe though. (You depend on Scalaz anyway, go all the way i say)

[2015-01-15 06:20] #46 closed

[2015-01-16 05:23] tpolecat commented on #42
Let's call this good for now. We have `Array` and `UUID` and that's about all H2 does.

[2015-01-16 05:23] #42 closed

[2015-01-16 05:27] tpolecat opened #49 "Meta constructor for struct types"

[2015-01-18 04:03] #41 closed

[2015-01-22 07:26] tpolecat commented on #10
This is actually not useful. Burning a thread per connection is the correct approach.

[2015-01-22 07:26] #10 closed

[2015-01-26 05:11] tpolecat opened #57 "SqlStateOps instance not inferrable for non-aliased free monad"
The `SqlStateOps` syntax in the PostgreSQL add-on doesn't work when the unaliased `Free` type is inferred. Unclear how to make this work.

[code]

[2015-01-26 05:13] tpolecat opened #58 "Multi-dimensional arrays for PostgreSQL"
This should be derivable for arbitrary dimensions.

[2015-01-29 06:40] tpolecat opened #61 "Consider unsafeRun and law of Capture"
Adding an `unsafeRun` method on `Capture` would allow us to define testable laws. We could even subclass `Catchable` which would allow us to have testable laws for exception handling as well.

[2015-01-29 06:41] tpolecat opened #62 "Finish pending items in core tests."

[2015-01-29 06:41] tpolecat opened #63 "Change H2 tests to do write+read like PG tests do."

[2015-01-29 06:43] tpolecat opened #64 "Finish pending items in PG and H2 tests"

[2015-01-29 06:57] tpolecat opened #65 "Benchmarks"
Add benchmarking against raw JDBC and Slick. Setting the default fetch size and cursor type in `Transactor` will be helpful, but who knows.

[2015-01-29 18:13] #62 closed

[2015-02-02 03:18] tpolecat commented on #64
Good enough.

[2015-02-02 03:18] #64 closed

[2015-02-02 18:33] tpolecat opened #74 "Example with params as list of values with witnesses"
`List[(A, Atom[A]) forSome { type A }]` or maybe with `Sigma[P[_]] {type I; val i: I; val fi: P[I]}`.

[2015-02-02 18:34] tpolecat opened #75 "Make HList work for params/rows"
I expected to get this for free with `ProductTypeclass` but it doesn't seem like I do. Probably a simple fix.

[2015-02-03 18:15] tpolecat opened #77 "Add gitter+travis webhook"
Per https://github.com/non/cats/pull/49

[2015-02-05 21:48] tpolecat opened #79 "Batch update combinator"
Add something like this to `HPS`.

[code]

[2015-02-05 21:49] tpolecat opened #80 "Support for IN (...) clauses"
Need a better solution than this:

[code]

[2015-02-05 21:50] tpolecat commented on #79
Full example

[code]

[2015-02-05 22:43] tpolecat opened #81 "MySQL contrib package"
Here's one that @adelbertc needed (no idea if it works).

[code]

Reference [here](http://dev.mysql.com/doc/connector-j/en/connector-j-reference-type-conversions.html).

[2015-02-06 05:25] tpolecat commented on #79
Maybe provide something like

[code]

[2015-02-06 09:20] tpolecat commented on #80
Maybe a more general literal syntax, via a macro:

[code]

[2015-02-06 09:32] #27 closed

[2015-02-06 18:16] tpolecat opened #82 "Add PostGIS support"
Should be easy, just need to add the dependency and mappings in `pgtypes.scala`.

/cc @aloiscochard

[2015-02-06 18:18] aloiscochard commented on #82
Yay! We'll probably try to tackle it soon with @icassina :-)

[2015-02-07 03:14] #63 closed

[2015-02-07 06:32] tpolecat opened #83 "Ensure YOLO and Specs2 handle all Query/Update constructions"
Pretty sure YOLO doesn't handle `Query` or `Update`.

[2015-02-07 07:24] tpolecat opened #85 "Update to scalaz 7.1.1"
tut is going to get in the way here. Need to remove the scalaz dependency.

[2015-02-07 17:24] tpolecat opened #86 "Upgrade to scalaz-stream 0.6a"

[2015-02-11 04:50] #79 closed

[2015-02-11 05:00] tpolecat opened #88 "Upgrade to shapeless 2.2.0"

[2015-02-11 05:16] #85 closed

[2015-02-11 05:16] #86 closed

[2015-02-11 05:45] #77 closed

[2015-02-11 06:50] #83 closed

[2015-02-11 07:12] #43 closed

[2015-02-13 08:12] tpolecat commented on #65
Example here. This looks great https://github.com/non/cats/pull/190

[2015-02-13 08:48] tpolecat commented on #82
Source mirror [here](https://github.com/postgis/postgis/tree/svn-trunk/java) ... looks not too terrible.

[2015-02-13 13:11] aloiscochard commented on #82
Indeed, I had no idea that this extension exists!

Thanks a lot

[2015-02-13 17:04] tpolecat commented on #82
I'll see if I can hack it up over the weekend. Now that I have the source I have some hope of making it work ... the documentation for postgis with JDBC is terrible.

[2015-02-14 00:51] tpolecat commented on #82
Progress. Adding the `postgis-jdbc` dependency makes this work:

[code]

[2015-02-14 14:34] icassina opened #93 "book of doobie errata"
In chapter 04 I believe there is an example which failed to be updated:

[code]

i.e. Code(ANT) should refer to the Antilles Country, not the "Netherlands Antilles" one.

[2015-02-14 15:50] icassina commented on #93
In chapter 10 / Setting up:

[2015-02-14 16:12] icassina opened #94 "Support (or sugar? or nothing?) for PostgreSQL's composite types"
PostgreSQL supports user-defined types.

Type creation is easily done with:
[code]

Value construction is done using 'ROW':
[code]

Value deconstruction is done using '.':
[code]

[2015-02-14 16:17] icassina commented on #94
Enumeration would be very nice too:

Type creation:
[code]

Value construction is nobrain:
[code]

But value must be valid:

[code]

[2015-02-14 17:56] tpolecat commented on #94
Yes, this is in the works, probably not for 0.2.1 but for the next version.

Duplicate of #49, kind of. I will combine them later.

[2015-02-14 17:58] tpolecat commented on #93
Thanks! Please leave any other notes here and I will fix them up.

Looks like `ANT` ISO code is for Netherlands Antilles, so I think it is correct.

[code]

[2015-02-15 00:20] icassina commented on #93
learning new things everyday!

[2015-02-15 04:43] tpolecat opened #96 "Add support for using Postgres enum types"
This is simply `Meta[String].nxmap(...)`. Add an example in the doc.

Recommended in #94

**EDIT** actually it's much more complicated than just invariant mapping of `String`; it's platform-specific and very twitchy.

[2015-02-15 04:46] tpolecat commented on #49
Examples given in #94

[2015-02-15 04:49] tpolecat commented on #94
@icassina I'm closing this with links to related issues above. Please feel free to add comments to those.

[2015-02-15 04:49] #94 closed

[2015-02-15 04:51] tpolecat commented on #75
Miles says upgrading to 2.1.0 will make this easier, so linking with #88 and moving back to 0.3.0.

[2015-02-15 17:54] tpolecat opened #97 "Algebras and free monads thereof for Postgres driver extensions"
Need `free`-level algebras for:
- `PGConnecton`
- `CopyManager`
- `FastPath`
- `LargeObjectManager`

And `hi`-level combinators where sensible.

Assuming this works, hacking up a `Process[Task,PGNotification]` would be a really cool demo.

N.B. also need a `liftPGConnection : ConnectionIO[A]` implemented in terms of `unwrap`.

[2015-02-16 18:30] tpolecat opened #98 "Add optionT to Query/Query0"
As suggested by @cencarnacion. Would it make sense to also have `.listT` and so on? I'm not convinced this is useful but it's easy and doesn't affect the lower-level APIs at all, so I'm fine giving it a try.

[2015-02-17 11:09] icassina commented on #93
`doobie-contrib-postgresql` vs "doobie-contrib-postgres":

### 1. Introduction:
…
Scala setup: the sbt snippet is correct (doobie-contrib-postgresql) but the text following it refers to it as "doobie-contrib-postgres".

### 9. SQL Arrays
first paragraph: "the code in this chapter requires doobie-contrib-postgres." (following code imports are correct)

### 12. Vendor Extensions
under "PostgreSQL Su

[2015-02-17 16:51] tpolecat opened #99 "Support for query fragments"
@wedens suggests concatenable query fragments that build up a set of parameters along with the sql string. Need `HList` support to make this convenient.

[2015-02-17 16:56] wedens commented on #99
my proposed data structure is something like this:
[code]

[2015-02-17 17:00] tpolecat commented on #99
I like it.

[2015-02-17 17:57] wedens commented on #80
I was thinking about implementing this atop of query fragment abstraction
`q"select id, name, age from person where age <".bind(age) ++ q"and name".in(names)`

[2015-02-17 18:29] wedens opened #101 "Transactor for existing DataSource"
It will be useful when some pool other than hikari is used or DataSource already exists (e.g. when using doobie with plain jdbc).

[2015-02-17 18:41] tpolecat commented on #101
Yep, that's trivial. I can add for 0.2.1.

[2015-02-19 08:35] tpolecat commented on #82
Re-openening pending doc review.

[2015-02-19 08:43] tpolecat commented on #75
Open pending doc.

[2015-02-19 09:27] tpolecat commented on #96
Now that I think about it I might as well add support for `scala.Enumeration` and `java.lang.Enum` since it's easy and some people actually use them.

[2015-02-24 05:12] tpolecat commented on #96
Open for doc

[2015-02-24 06:00] #98 closed

[2015-02-24 06:16] tpolecat commented on #7
Consider the following.

[code]

and then primitive combinator

[code]

and syntax

[code]

This will require a second interpreter that handles monitoring, or a default no-op monitor, or an optional one. Fiddly.

[2015-02-24 12:41] aloiscochard commented on #7
@tpolecat I'm surprised you need a `Capture` constrain if you already have `Monad`?

I suppose you don't want to capture effect using `return`/`pure`?

[2015-02-24 13:31] tpolecat commented on #7
Right, that's the only reason `Capture` exists. We need a way to capture effects in any potential monad. A logger might want to know what time it is, or write to a file, etc.

[2015-02-26 18:38] tpolecat opened #106 "Example with > 22 columns"
@cencarnacion asks how to do this, and I have never tried it. So let's add an example with insert and select for a very wide table.

[2015-02-27 04:39] tpolecat commented on #106
Example here https://gist.github.com/tpolecat/0976a45a2ecd210a8370

[2015-02-27 19:09] tpolecat opened #107 "Add doc for connection pooling"
Need doc for using `HikiriConnectionPool` and for implementing your own `Transactor`, as well as just doing `liftK[F].run(conn)` if you already happen to have a connection.

[2015-02-28 06:47] #101 closed

[2015-02-28 15:04] tpolecat opened #109 "Macro for N-ary sql interpolator"
See comments in #108. This will also open the possibility for specifying In/Out/InOut parameters to provide support for callable statement literals.

This has the potential to be terrible because I would like to continue supporting 2.10 and at least some aspects of macromé are incompatible. Hoping I will be able to use a compatible subset.

[2015-03-02 04:57] tpolecat commented on #106
This limit is lifted by #108 so I'm going to go ahead and close this. The release notes will mention this change.

[2015-03-02 04:57] #106 closed

[2015-03-02 21:43] kryptt opened #110 "Mention casting on the database"
showing something like:
[code]
as a demonstration of how to handle postgres' asymetry for Out[String], In[PGObject]
having the cast inside the sql statement itself brings back the sanity of Out[String], In[String], even if it is an _unsafe_ cast.

[2015-03-03 04:32] tpolecat opened #111 "Upgrade to PostgreSQL JDBC 9.4"

[2015-03-03 16:58] tpolecat opened #112 "doobie-rebind"
Add a contrib package if this makes sense, or at least an example of using https://github.com/adelbertc/rebind with doobie. It seems ideal for dealing with deadlocks.

/cc @adelbertc

[2015-03-05 19:11] tpolecat opened #117 "Composite for sized collections"
Give `Composite[A]` we should be able to do `Composite[Sized[F,A]]`.

[2015-03-05 19:35] tpolecat opened #118 "Remove length from composite"
Refactor composite `get/set/update` to be stateful computations that pass an offset rather than computing length statically. This will make composite coproducts possible, among other things.

[2015-03-07 06:49] adelbertc commented on #112
Awesome possum - I think I'm getting close to a 0.2.0 where I've added a few things which may be useful (e.g. retry up to N consecutive failures of a particular error), will post once I've published.

[2015-03-07 20:59] tpolecat commented on #118
Turns out this doesn't make sense; you really do want to know how wide a `Composite` is.

[2015-03-07 20:59] #118 closed

[2015-03-10 13:10] thesunnyk opened #123 "Booleans don't appear to work"
Trying to map in a Boolean to a "bool" (or even a "bit") in H2 results in an analysis error:
[code]

Should this happen? I would've thought a boolean mapping by default makes sense.

[2015-03-10 15:09] tpolecat commented on #123
That sounds like an oversight; early versions of the JDBC spec didn't have `BOOLEAN` so the reference I used may not have been updated (although `BIT` should certainly work, although H2 may never report that JDBC type in its metadata). In any case I'll look at this for 0.2.1 so if there's an easy fix you should get it in the next week or so. Thanks!

[2015-03-10 23:43] tpolecat commented on #4
This will be especially helpful for `Composite` mappings where reading and writing can be wildly asymmetric, as in table-per-class hierarchies where inserts are sliced and selects are flat. In this same case we can also support discriminated coproducts for reading (but not writing).

[2015-03-10 23:45] tpolecat commented on #117
This is, however, not terribly useful.

[2015-03-10 23:46] tpolecat commented on #112
Pushed onto backlog until it's stable.

[2015-03-11 07:26] wedens commented on #117
`Composite` for `Foldable` of size N will be more useful:

[2015-03-12 02:18] tpolecat opened #124 "Add Kind Projector"
Type lambdas are kind of a pain. Switch to KP.

[2015-03-12 04:07] tpolecat commented on #124
Quoth @adelbertc

[2015-03-12 08:48] thesunnyk commented on #123
Thanks heaps @tpolecat. The above message appears even if I use "bit" in H2, so I'm guessing H2 somehow interprets "bit" as "boolean".

[2015-03-13 15:22] tpolecat opened #127 "Working Hikari Example"
Be sure the `HikariTransactor` example works ... it seems like you need to do the `Class.forName` thing.

[2015-03-14 05:28] tpolecat commented on #127
Reopening pending doc.

[2015-03-14 05:43] tpolecat opened #130 "beef up H2 doc"
It has its own chapter now, so it needs more text and examples.

[2015-03-14 05:46] tpolecat opened #131 "Add CHANGELOG.md"
Probably the last thing before tagging. Here's some draft content:

# changelog

This file summarizes **notable** changes for each release. For complete details see the corresponding [milestones](https://github.com/tpolecat/doobie/milestones).

### <a name="0.2.1"></a>New and Noteworthy for Version 0.2.1

Improvements:

- 22-parameter limit on `sql` interpolator increased to 50; with some luck sho

[2015-03-14 05:51] tpolecat opened #132 "Set up typelevel release plugin"
Need to set up [sbt-typelevel](https://github.com/typelevel/sbt-typelevel) and figure out how to use it. It does a lot of shit I don't understand so will probably need to bug @larsrh.

[2015-03-14 05:52] #75 closed

[2015-03-14 05:52] #82 closed

[2015-03-14 05:52] #96 closed

[2015-03-14 05:52] #127 closed

[2015-03-14 06:26] #93 closed

[2015-03-14 22:17] #123 closed

[2015-03-15 15:16] justjoheinz commented on #97
+1 for PGNotification - this would be awesome.

[2015-03-15 17:45] tpolecat commented on #97
Noted. Need to get 0.2.1 in the can (almost done) and then I'm eager to start hacking on it.

[2015-03-16 06:24] tpolecat commented on #97
@justjoheinz fyi https://gist.github.com/tpolecat/b5ec288eca42140b6286 ... it can be better but it's a nice start

[2015-03-17 21:06] #107 closed

[2015-03-20 00:19] #130 closed

[2015-03-20 00:20] tpolecat commented on #110
Moving this to 0.2.2 just to get this thing out the door. I need to add a FAQs & HAQs page

[2015-03-20 18:21] tpolecat opened #138 "Add support for pgSphere"
Never heard of it, but then Paul busted out with:

[2015-03-21 05:30] #131 closed

[2015-03-25 04:21] levinotik opened #142 "using doobie with Spray dependency"
Many releases of Spray rely on shapeless 1.2.4 (while doobie relies on shapeless 2.0). The [Spray docs](http://spray.io/project-info/current-versions/#shapeless-versions) say

Trying this still produces the following cross version conflict:

when trying to use Spray and doobie.

[2015-03-25 05:44] tpolecat commented on #142
Hmm the following works for me.

[code]

How does this differ from your setup?

[2015-03-25 13:27] levinotik commented on #142
Right now, I have a lot of dependencies so I'm gonna try using the sbt-dependency-graph plugin to figure out what else might be using shapeless. My deps look like:

[code]

[2015-03-25 13:56] levinotik commented on #142
Looks like https://github.com/gettyimages/spray-swagger was dependending on Spray 1.3.1 as well so I'm waiting for a build of that to be cut with 1.3.2 and spray-routing-shapeless2. I'll close this now.

[2015-03-25 13:56] #142 closed

[2015-03-27 00:07] kryptt opened #144 "Composite for shapeless records"
An implicit for shapeless records would be of great value above tuples since you get a key -> value syntax, while not needed to create a case class for it.

I have this method working in my project for that end:
[code]
The main difference is wrapping the head of the HList via `field`

[2015-03-27 02:54] tpolecat commented on #144
Cool, thanks. We can give this a try after merging #143.

[2015-03-27 16:14] kryptt commented on #144
as an FYI this is for shapeless 2.0.0 it needs a few tweaks to work with 2.2.0

[2015-03-30 15:50] kryptt commented on #99
I've been running into some issues with this idea... specifically, I can't make a semigroup out of this, since what we want is precisely to be able to append arbitrary QueryFragments together...

[2015-03-30 15:57] tpolecat commented on #99
It can never be a semigroup because the type argument changes, but it should definitely be possible to append fragments (that's the whole point). Sorry I haven't had time to focus on this; I'm working on some less interesting things.

[2015-04-03 06:14] tpolecat opened #146 "Beef up Postgres extended error handling text"
- Add an example usage of the `SqlState` table.
- Add an example usage of the `onXXX` combinators

[2015-04-06 01:32] #97 closed

[2015-04-06 21:27] #111 closed

[2015-04-12 17:13] #57 closed

[2015-04-12 17:13] #124 closed

[2015-04-13 01:20] #146 closed

[2015-04-15 15:04] tpolecat opened #151 "Upgrade to scalaz-stream 0.7"

[2015-04-23 03:06] tpolecat opened #155 "Add Java 1.8 to the CI build."

[2015-04-23 03:09] #151 closed

[2015-04-23 06:02] tpolecat commented on #49
Bah, ok this doesn't work with nulls because we can't distinguish a null `Int` from `0`. So the derivation needs to be distinct from `Composite`. For now maybe punt and just have a raw struct mapping that you have to `nxmap`.

[2015-04-23 06:20] tpolecat commented on #49
Well, actually, nuts to this. The Postgres driver doesn't support structs so you have to go via JSON or something. Pushing to backlog.

[2015-04-27 17:19] cannedprimates opened #156 "Add a way to insert literal values directly into a query to the sql interpolator."
I'd like to be able to substitute literals into a query to e.g. select the table dynamically.

Example:
https://gist.github.com/cannedprimates/97714b76cf2fb718f443

Slick handles this by providing a special operator, #$, which is described here:
http://slick.typesafe.com/doc/2.1.0/sql.html#string-interpolation

[2015-04-27 17:28] tpolecat opened #157 "Example of batch update with returned IDs"
Right now `.updateMany` just returns an `Int` ... would be nice to do `.updateManyWithGeneratedIds` or something.

[2015-04-27 17:30] tpolecat commented on #157
Actually nuts to that. JDBC doesn't have a way of getting keys with `executeBatch`.

[2015-04-28 03:43] #157 closed

[2015-04-28 03:52] tpolecat commented on #156
Thanks for this suggestion, we do need something like this. I added a comment to your gist that shows how to express your query at the moment. Slightly awkward.

[2015-05-05 04:55] tpolecat opened #160 "Clean up build"
Re-org the build into a single `.sbt` file like cats has done.

[2015-05-07 18:37] miketkelly opened #161 "Processing large result sets"
First, thank you for making this library available. I think its quite ingenious, and I really like code I end up with when using it. One thing holding me back from testing it more broadly is performance on some of my common use cases. Maybe its early in doobie's lifetime for performance enhancements, but I though I'd toss this over in case there's an easy workaround (I didn't find one).

Very ofte

[2015-05-07 18:48] tpolecat commented on #161
Cool, thanks for this. As you suspected I have not done any performance work yet. Are you just doing `sql"..."query[Blah].list` or similar?

[2015-05-07 19:18] miketkelly commented on #161
Yes,`sql"...".query[CaseClass].list.transact(xs).run`

[2015-05-07 20:45] tpolecat commented on #161
Just off the top of my head:

- scalaz-stream's `runLog` accumulates by vector concatenation, and then this is converted to a list. If you use `.vector` instead of `.list` you might do a tiny bit better. You could also `.sink` to an effectful action that accumulates values in some other way.
- Every column read is followed by a `wasNull` check, which could be eliminated for non-nullable columns at

[2015-05-07 21:47] tpolecat commented on #161
Just messing around at lunch I found that I can speed things up a ton by moving the most commonly executed operations to the top of the `case` statement. Immediate 3x speedup in some simple tests. So that's worth chasing down. Hacking up a tagging system to turn the interpreter into a JVM case switch would be sucky codewise but would probably be a huge perf win. To be continued...

[2015-05-07 22:00] miketkelly commented on #161
Hah! I was just typing that up. Just putting WasNull at the top is about a 25% improvement in my case. So a tagging system probably would solve it. Thanks for checking into it.

[2015-05-07 22:02] tpolecat commented on #161
Also helps a bit to pre-construct the cases that have no parameters; and perhaps speculatively construct ops for indexed operations on small `n` like `getString(1)`. Looks like a lot of relatively easy wins.

[2015-05-07 22:28] tpolecat commented on #161
The `~>` is also getting re-constructed for each operation even though it's only needed once per call to `transK` ... something needs to be stricter.

[2015-05-08 22:32] tpolecat commented on #161
I looked at this some more last night and the immediate easy wins are:

- Invert the "expression problem" encoding by placing the default kleisli mapping on `ResultSetOp` and then we can use normal O(1) dispatch instead of `match`'s table scan.
- Change `Query` to use the `PreparedStatementIO` lifted stream (or even a custom unroller in `ResultSetIO`) to implement `.vector`.
- Either turn off the

[2015-05-13 03:29] tpolecat opened #162 "update freegen working for java 7/8, make some changes"
Need to get `freegen` working for Java 7, and switch around the encoding to eliminate the case switch in the default `kleisliTrans`. This will go a long way toward addressing #161

[2015-05-14 07:45] tpolecat commented on #161
Latest numbers, comparing raw jdbc with prototype doobie changes. They are indistinguishable for resultsets up to about 10^6 and a constant factor of about 2x accumulates up to about 10^5 rows where jdbc and doobie both seem to max out.

[code]

Prototype changes:
- inverting the expression problem as described above
- using a low-level `unroll` combinator instead of streams when fetching a collec

[2015-05-15 03:48] tpolecat opened #163 "Improve implicit not found for Composite"
Add a suggestion that you may need to provide `Meta` instances for product fields.

[2015-05-16 02:24] kryptt opened #164 "specs2 check fails inappropriately under JOIN circumstances"
[code]

It happens that these columns can show up as null even though they are non-null at the table level since they come from a LEFT JOIN.

[2015-05-16 02:38] tpolecat commented on #164
Interesting. I think I need to add a way to acknowledge and ignore warnings because the metadata mechanism isn't very accurate.

[2015-05-20 02:29] kryptt opened #167 "Going from a PreparedStatementIO to an Analysis or Query0"
In order to test dynamically generated query strings, we need a better way to from: `(sql: String, ps: PreparedStatementIO[B])` to `Update0[B]`

[2015-05-29 04:53] #88 closed

[2015-05-29 04:53] #155 closed

[2015-05-31 17:34] tpolecat opened #168 "Need an example of connection/thread pooling parity"
You generally want to run stuff on a thread pool with the same size as your connection pool, which is trivial using `Transactor[Task]` but there is no example given. It might be nice to roll this idea into `Transactor` itself.

[2015-06-02 10:03] mdmoss commented on #160
Any qualms about me giving this a shot?

[2015-06-02 16:57] tpolecat commented on #160
@mdmoss not at all, give it a shot.

[2015-06-02 18:32] wpoosanguansit opened #170 "Is there a way to provide catalog, schema to the connection string?"
Hi,

I am trying to use doobie with Trafodion database which requires me to pass in catalog and schema string to its connection.  Right now, I am getting:

org.trafodion.jdbc.t4.HPT4Exception: *** ERROR[4082] Object TRAFODION.SEABASE.T_TABLE does not exist or is inaccessible. [2015-06-02 13:43:13]
  at org.trafodion.jdbc.t4.HPT4Messages.throwSQLException(HPT4Messages.java:206)
  at org.trafodion.j

[2015-06-02 19:53] tpolecat commented on #170
Shouldn't be a problem. How would you do this in JDBC, and what are you trying in doobie?

[2015-06-02 20:00] wpoosanguansit commented on #170
Thanks for your help.  In a normal JDBC set, we have to provide something like this as the connection string:

trafodion {
  catalog   = "namespace"
  schema    = "s"
  url       = "jdbc:t4jdbc://localhost/:"
  user      = "user"
  password  = ""
  driver    = "org.trafodion.jdbc.t4.T4Driver"
}

The only thing that I see that I am not passing in are the catalog and schema.  So I am guessing the tw

[2015-06-02 20:04] tpolecat commented on #170
Hm that's not a typical connection string. Who consumes it?

[2015-06-02 20:08] wpoosanguansit commented on #170
I believe it is trafodion.  The connection string is from the example I got from their sample tutorial which works for the simple create and delete I tested.

[2015-06-02 20:25] tpolecat commented on #170
Ok it looks like you need to use `getConnection(String url, Properties info)` passing a `java.util.Properties` containing the key/value pairs as is done [here](https://github.com/trafodion/core/blob/master/conn/jdbc_type4/samples/common/sampleUtils.java#L109). Right now `DriverManagerTransctor` doesn't support this, but you can write your own transactor that does. Something like:

[code]

Which yo

[2015-06-02 20:26] tpolecat commented on #170
Note to self: add these constructors to `DriverManagerTransactor`.

[2015-06-02 20:28] wpoosanguansit commented on #170
I will try that.  Thank you for your help!

[2015-06-03 06:00] tpolecat commented on #160
Closed via #171

[2015-06-03 06:00] #160 closed

[2015-06-03 06:02] tpolecat commented on #65
Closed via #165

[2015-06-03 06:02] #65 closed

[2015-06-03 06:04] tpolecat commented on #1
subsumed by #162

[2015-06-03 06:04] #1 closed

[2015-06-13 17:35] tpolecat opened #174 "Look at LMS?"

[2015-06-13 23:09] tpolecat opened #175 "Look at specialization"

[2015-06-18 03:02] refried opened #177 "outer joins and nullability?"
in Intellij + H2,
[code]
yields:
`id: 1, field: null`

but doobie 0.2.2 gives a warning and an empty result set:
[code]
yields
[code]
and
[code]
yields
[code]

`field` is non-nullable but `b.field from a left join b on a.b = b.id` is nullable when `a.b` is nullable.

[2015-06-18 03:19] tpolecat commented on #177
The metadata thing is related to #164.

I do not get an empty resultset. Code I'm running is:

[code]

[2015-06-18 14:20] refried commented on #164
Found this gem in the docs for `java.sql.DatabaseMetaData`.  Is that the API that doobie uses?

[code]

"no nulls" means "maybe no nulls"

[2015-06-18 15:14] refried commented on #177
Your program gives the right results for me too.  It's possible that I had "automatic db commits" disabled in intellij, and maybe that's why intellij was able to select the row (same transaction?) when doobie wasn't.  Haven't had a chance to test that theory yet.

I guess per #164, the nullability metadata comes from jdbc and can't be smart about situations like this?

[2015-06-18 18:57] tpolecat commented on #164
Ok, good catch. I'll update the checker to deal with this less aggressively.

[2015-06-18 18:58] tpolecat commented on #177
Ok. I'm going to close this as a duplicate of #164 … feel free to reopen if you think I missed something.

[2015-06-18 18:58] #177 closed

[2015-06-18 23:06] refried commented on #164
Would it be feasible to detect that it’s in a nullable position in the query?  I could believe that it isn’t.

[2015-06-20 05:46] tpolecat commented on #110
See also this [SO Post](http://stackoverflow.com/questions/30946659/jdbc-insert-with-postgres-enum) from Keven Meredith.

[2015-06-25 23:11] tpolecat opened #178 "Can't derive Meta instances generically."
The `TypeTag` requirement for `Meta` means you can't usefully derive generic instances implicitly; in the case below `taggedIdMeta` doesn't work implicitly and must be invoked for each concrete type. So maybe come up with a better way to do this.

/cc @refried

[code]

[2015-06-26 04:14] tpolecat opened #179 "Update to tut 0.4.0"
Also clean up doc now that whitespace handling is nicer.

[2015-06-26 12:48] refried commented on #178
This probably sounds silly, but would adding Typetag in more places help? Or strictly make things worse? :)

[2015-06-26 14:33] wpoosanguansit opened #180 "Possible to use doobie on Android?"
Just out of curiosity if it is possible to use your lib on Android?  I tried but it throws an error on reflection:

    java.lang.IncompatibleClassChangeError: The method 'java.lang.String java.lang.Object.toString()' was expected to be of type interface but instead was found to be of type virtual (declaration of 'java.lang.reflect.ArtMethod' appears in /system/framework/core-libart.jar)

[2015-06-26 17:47] tpolecat commented on #178
Nah I'm definitely not doing that ;-)

[2015-06-26 17:53] tpolecat commented on #180
Yeah, the column mapping constructor takes a `TypeTag` in order to provide better diagnostics when query checking fails, and I suspect there's an incompatibility. #178 is also caused by problems here so I'm thinking this will go away in in the next release. I will ask around and see if anyone can verify that this API doesn't work on Android.

[2015-06-26 18:33] wpoosanguansit commented on #180
Thanks for your help.  From my test, slick 3 can be used on Android but only with straight sql.  It runs into the same problem with reflection as well, from what i can guess, when monad comprehension is used for query.  But it does connect to the db successfully with an explicit instantiation of the connection object.

[2015-06-26 18:40] tpolecat commented on #180
Ok, thanks for the update. I don't have a workaround for you but I will look into it over the weekend.

[2015-06-26 23:37] tpolecat commented on #180
Ok it looks like [this issue](https://issues.scala-lang.org/browse/SI-5397) ... can you add this to your proguard options and see what happens?

[code]

[2015-06-26 23:41] tpolecat commented on #180
Related, @pfn tells me that his sbt plugin includes this rule by default https://github.com/pfn/android-sdk-plugin/

[2015-06-27 06:16] wpoosanguansit commented on #180
Thanks for your help.  I still get the following errors:

  Process: net.gutefrage.helloscala, PID: 1356
    java.lang.ExceptionInInitializerError
            at doobie.imports$.<init>(imports.scala:89)
            at doobie.imports$.<clinit>(imports.scala)
            at net.gutefrage.helloscala.MainActivity.<init>(MainActivity.scala:43)
            at java.lang.Class.newInstanceImpl(Native Metho

[2015-06-27 06:19] tpolecat commented on #180
Ok, well it was worth a try.

[2015-06-27 15:11] refried commented on #178
Or maybe have two versions of xmap and save an Option[TypeTag] for diagnostics when practical?

[2015-06-29 13:06] #180 closed

[2015-06-29 23:04] kryptt opened #181 "postgis dependency pulls in ancient version of postgresql"
the postgresql extensions for doobie 0.2.2 depend on postgis which in turn pulls in an old version of postgresql.

I believe we should make the postgis extension optional and additionally mark the dependency as provided in the sbt config

[2015-07-05 05:16] #162 closed

[2015-07-10 18:57] wpoosanguansit opened #185 "Getting error with update."
I think I am still missing something while following the example in the book.  I keep getting the following error:

[pool-1-thread-3] ERROR org.http4s.blaze.pipeline.Stage - Error running route: Request(POST,/meta,HTTP/1.1,Headers(Host: localhost:8000, Connection: keep-alive, Content-Length: 16322, Accept: application/json, text/javascript, */*; q=0.01, Origin: http://localhost:8000, X-Requested-W

[2015-07-10 19:04] tpolecat commented on #185
A few things. You need to properly quote your interpolated values: `${t.str}`, and I don't think SQL supports returning generated keys, so you'll have to use the equivalent of the first example under [Retrieving Results](http://tpolecat.github.io/doobie-0.2.2/07-Updating.html) to retrieve the generated key and then do another select.

[2015-07-10 19:52] wpoosanguansit commented on #185
Got it.  Thanks for your help.

[2015-07-11 19:49] tpolecat opened #186 "imp"
Add [imp](https://github.com/non/imp).

[2015-07-14 03:12] ramnivas opened #189 "Allow splicing literal values in sql interpolator"
I have a use case, where I need to abstract over table name (something along the following lines: ```sql"""select count(*) from $tableName"""```. However, this doesn't currently work in Dooble, since the table name will be passed to the underlying prepared statement (which then will be escaped by the JDBC driver).

Slick provides a way to pass unescaped value in their sql interpolator [1]. I wonde

[2015-07-14 04:12] tpolecat commented on #189
Hi, yes, this is a common question. In this case you can do what you want by constructing a `Query0` explicitly:

[code]

If your query takes parameters you need to construct a `Query` as demonstrated in the gist associated with #156. I'm closing this as a duplicate of that issue. Please feel free to add comments or questions there. Thanks!

[2015-07-14 04:12] #189 closed

[2015-07-14 04:18] ramnivas commented on #189
This works! Thanks for your quick response.

It will be nice to have this info somewhere in the book of doobie (I saw the last section of http://tpolecat.github.io/doobie-0.2.2/04-Selecting.html, but couldn't quite manage to translate it for my use case).

p.s. Just started using Doobie and I like what I have seen so far.

[2015-07-14 04:21] #181 closed

[2015-07-14 04:23] tpolecat opened #190 "Add doc section on constructing Query/0"
per suggestion in #189

[2015-07-14 15:53] wpoosanguansit opened #192 "Getting error in repl."
I am not sure if the steps I took were correct:

scala> import doobie.imports._, scalaz._, Scalaz._, scalaz.concurrent.Task
scala> import doobie.util.yolo._

sql"""
         SELECT *
         FROM Test
         WHERE id = ${testId};
       """.query[TestTable].process.map { est: TestTable => Test(est.id, est.data, est.desc) }

And I do get:
<console>:60: error: Cannot prove that scalaz.Free[[x]sca

[2015-07-14 16:00] tpolecat commented on #192
`runLast` gives you a `ConnectionIO` that you must enlist in a transaction before you can execute it; the `run` method on that type is the one from `scalaz.Free` which isn't what you want. Observe the return types here:

[code]

In the REPL you can abbreviate this by using the `yolo` module associated with your transactor:

[code]

[2015-07-14 16:00] #192 closed

[2015-07-14 16:29] wpoosanguansit commented on #192
I see.  Thank you.

[2015-07-14 17:57] tpolecat commented on #170
I'd like to keep this open so I can remember to add new constructors to `DriverManagerTransactor`.

[2015-07-14 18:04] wpoosanguansit opened #193 "Is there a standard or a recommended way to do upsert?"
I looked around the doc and I did not see if there is a way to do update or insert if not present.  Right now, I do query and check the result and do the update or insert and the another query to pull the latest value after the upsert.  I am asking just in case there is already an abstraction for this usual case.  Thanks for your help.

[2015-07-14 18:09] tpolecat commented on #193
There is no direct support for upsert because most database don't support it natively (although PostgreSQL is getting it soon I believe). Query-first will only work at a high isolation level that's probably not your default, so instead I would probably try the insert first, and if you get a key collision then perform the update. There is an example of something like this in the chapter on error ha

[2015-07-14 18:10] wpoosanguansit commented on #193
Got it.  Thanks.

[2015-07-14 18:10] #193 closed

[2015-07-15 14:11] wpoosanguansit commented on #193
I have tried the example for safeInsert.  However it seems to be specific to Postgresql with unique constraint capture code.  Is there a general way to do it with other db like mysql as well?  I have also tried attemptSql but I am still getting the type error.  I am still not sure how to match for the result:

<console>:55: error: constructor cannot be instantiated to expected type;
 found   : sca

[2015-07-15 16:10] tpolecat commented on #193
You just need to replace `UNIQUE_VIOLATION` in that example with whatever the value indicates unique violation in MySql. So just experiment, catch the exception, and print out its `.getSQLState()` string. That's what you need to match on.

[2015-07-15 16:37] wpoosanguansit commented on #193
I think I am still missing something:

  case class Person(id: Int, name: String)

  def insert(p: Person): ConnectionIO[Int] = {
    sql"insert into person (id, name) values (${p.id}, ${p.name})".update.run
  }

  import com.mysql.jdbc.exceptions.jdbc4.MySQLIntegrityConstraintViolationException

  def safeInsert(p: Person): ConnectionIO[String \/ Int] =
    insert(p).attemptSomeSqlState {
      c

[2015-07-15 16:45] tpolecat commented on #193
If you have a specific exception type, use `.attemptSome/.exceptSome` ... be sure you have `import doobie.imports._` to get that syntax.

[code]

[2015-07-15 16:48] wpoosanguansit commented on #193
Thanks.  Let me try that.

[2015-07-15 16:56] wpoosanguansit commented on #193
That works nicely.  Thanks.

[2015-07-16 14:40] fommil opened #194 "publish snapshots to sonatype and releases to maven central"
blocked on https://github.com/scalaz/scalaz-stream/issues/258

and I'm happy to help.

http://central.sonatype.org/pages/ossrh-guide.html

For now, just create an account and raise a ticket asking for permission to publish to the entire `org.tpolecat` organisation. You'll probably want to have some way of validating that you own `tpolecat.org` or that you're the only `tpolecat` worth their conside

[2015-07-16 14:43] fommil commented on #194
btw, you don't need to learn maven or anything, it's still just `sbt publish` for snapshots and `sbt publishSigned` for releases (or whatever release plugin you use).

[2015-07-16 17:48] tpolecat opened #195 "Make natural transformations easier to get to"
Translating `Process[ConnectionIO, Foo]` to `Process[M, Foo]` shouldn't require this much work.

[code]

[2015-07-16 18:08] tpolecat opened #196 "Config options for transactor and update/query"
It would be nice if users could specify a program that will be used to configure connections allocated by a transactor, as well as configuring statements allocated by `Query/Update`.

[2015-07-17 06:45] tpolecat commented on #194
Ok, opened an issue. We'll see what happens. Further instructions [here](http://www.scala-sbt.org/release/docs/Using-Sonatype.html).

[2015-07-17 06:58] fommil commented on #194
I've always found that the SBT docs confound the issue rather than help. If get stuck, look at my dotfiles and the ensime-sbt build.sbt for examples.

[2015-07-17 18:15] tpolecat commented on #194
Ok I finally registered **tpolecat.org** and sonatype is [set up](https://issues.sonatype.org/browse/OSSRH-16626) now.

[2015-07-18 06:58] tpolecat commented on #194
Attempted a snapshot publish. We'll see if it shows up.

[2015-07-18 18:57] tpolecat commented on #194
Ok @fommil I published a snapshot and it worked. Does this mean I'm good? `publishSigned` on a non-snapshot version will do the same thing but show up in central after a while?

[2015-07-18 19:14] tpolecat commented on #194
:-1: add `sbt-release` and `sbt-sonatype` because why stop now?

[2015-07-18 20:57] fommil commented on #194
heh, there is a weird manual step you have to do on your first promotion, just be aware of that. I've never used either of these two plugins.

Snapshot publishes are very easy... we automate them on pull request merges.

[2015-07-19 04:06] #194 closed

[2015-07-19 16:19] #161 closed

[2015-07-20 15:04] wpoosanguansit opened #199 "Joda Time or Java 8 LocalDateTime Composite?"
I am sorry if this is a duplicate of the question I posted on gitter.  I am just not sure if the gitter post was working.  I am getting:

Could not find or construct Composite[shapeless.::[Long,shapeless.::[java.time.LocalDateTime,shapeless.::[java.time.LocalDateTime,shapeless.....

I wonder if there is already a conversion done for date time type already somewhere.  Thanks for your help.

[2015-07-20 15:04] #199 closed

[2015-07-20 15:05] wpoosanguansit commented on #199
gitter thing was working.  And I got a suggestion from kryptt:

implicit val DateTimeMeta: Meta[DateTime] =
    Meta[java.sql.Timestamp].nxmap(
      ts => DateTime(ts.getTime()),
      dt => new java.sql.Timestamp(dt.clicks)
    )

Thanks.

[2015-07-21 02:01] #170 closed

[2015-07-21 17:50] tpolecat opened #200 "Derive Composite[Option[A]] given Composite[A]?"
Can we generalize deriving of `Option[A]` here, for helping with outer joins where you'll have a column vector that is all null or all non-null?

[code]

A problem with this is, if you had `Company(name: Option[String], address: Option[String])` then you can't distinguish `Some(`Company(None, None))`from`None` because they have the same column representation in the join.

/cc @ramnivas

[2015-07-21 21:03] ramnivas commented on #200
Looks like the problem you mentioned can come up easily. I tried to use this workaround in a real project which have ids defined as `Option[Long]`. So mapping this to `Company`:
[code]

When I update the mapping as follows:
[code]

I start to get the error back:
[code]

[2015-07-21 21:09] tpolecat commented on #200
Yep, ok. This is an ancient problem going back to the origin of SQL ... there is an infinite tower of `NULL` and there is no way to tell them apart. So my earlier suggestion of selecting the primitive column types and then using `.map` might end up being what you need to do, using a non-nullable field like `name` to decide whether the join failed or not (or by adding an explicit discriminant colum

[2015-07-21 21:17] ramnivas commented on #200
Yes. I am going with the `.map` approach for now.

Separately, I am considering making `id`s simple `Long` (or other primitive types such as `String` as appropriate). Once I do that in many cases, the implicit `Composite` mapper approach will become useful (manually added or when you implement it, automatically derived).

[2015-07-23 02:05] tpolecat opened #201 "Improve doc for sql interpolator"
In general review the Scaladoc and try to improve guidance for the bits of the API that new users are likely to encounter.

[2015-07-24 05:31] tpolecat opened #202 "atom constraint on sql params went away"
The change to `ProductArgs` means you can use any `Composite` as an interpolated parameter because everything gets flattened into an `HList`. The failing example in [Chapter 10](http://tpolecat.github.io/doobie-0.2.2/10-Custom-Mappings.html) actually compiles. You can't actually use the resulting query because the arity will be messed up.

[2015-07-24 05:48] tpolecat opened #203 "explode modules into packages"
The generated Scaladoc is useless with the all-module structure, so see how it looks with stuff exploded out.

[2015-07-31 18:53] kryptt opened #205 "Add a note in the documentation about setAutoCommit and transaction boundaries"
Sometimes you will need to run a statements (like DDL) outside of a transaction (Please be aware that this is not recomended, unsafe and will not compose). If ABSOLUTELY necessary you can write something like:

[code]

[2015-07-31 18:56] tpolecat commented on #205
Yeah I'm working on replacing `Transactor` with something more general that coincidentally lets you interpret a `ConnectionIO` without wrapping it in a transaction. Adds a `.connect` method that's like `.transact` but without the extra logic.

[2015-07-31 19:27] kryptt commented on #205
Even better :+1:

[2015-07-31 19:45] sLite opened #206 "sql" interpolator is not recognized by IntelliJ"
Highlighting and typechecking is broken for the sql" interpolator. I'm not experienced enough to give the fix a shot though.

@Jacoby6000 came up with this fix:

[code]

[2015-07-31 20:38] Jacoby6000 commented on #206
I use this by having a support class containing the implementation:

[code]

Then in classes where you use sql you just

[code]

and instead of using the sql string interpolator you use sql2:
[code]

[2015-07-31 20:40] tpolecat commented on #206
So the only thing you did was add a layer of indirection? Interesting.

[2015-07-31 20:43] Jacoby6000 commented on #206
Pretty much.  The ide can understand direct conversions to String contexts, like this. But with yours, where the sql interpolator is nested within the object created by your implicit conversion, it doesn't understand.

[2015-08-06 04:26] tpolecat commented on #196
Good progress on this but it will be a breaking change so moving to 0.3.0

[2015-08-07 06:59] #195 closed

[2015-08-07 07:03] tpolecat commented on #167
Can you remind me why you need an `Update0`? You can get a `ConnectionIO` by saying `HC.prepareStatement(sql)(ps)` ... just trying to decide what's needed.

[2015-08-07 22:59] tpolecat commented on #206
The above suggestions don't work; you need `applyProduct` to abstract over arity. I'm moving this to backlog because I don't really care about making IDEA happy. If someone wants to submit a PR I will look at it.

[2015-08-08 02:53] #164 closed

[2015-08-08 03:43] #179 closed

[2015-08-08 04:54] tpolecat commented on #167
I think `Update` and `Query` will probably get reworked a bit in 0.3.0 so I'm going to push this off for now.

[2015-08-08 05:48] tpolecat commented on #144
I got that code working but I think maybe we should just rewrite the derivation in the new style like [scodec does here](https://github.com/scodec/scodec/blob/38fa3a257d15a28c6b3aac86123f0ad6ac263cbe/shared/src/main/scala/scodec/Codec.scala#L528). Pushing to 0.3.0

[2015-08-09 03:27] tpolecat commented on #144
Actually it works, so let's go ahead and add it. PR in.

[2015-08-09 04:48] #144 closed

[2015-08-10 14:43] kryptt commented on #167
Basically, I'm trying to get to something I can analyze (for unit testing against the DB structure)

[2015-08-14 23:49] tpolecat opened #212 "Rework Meta, et al as done in scodec"

[2015-08-15 03:05] adelbertc commented on #212
Getting some inspiration at SBTB? :-)

[2015-08-15 03:54] tpolecat commented on #212
:-) yeah `Codec` and `Meta` are basically the same thing and @mpilquist has figured out some useful things you can do with invariant functors other than `xmap`, so it's definitely worth revisiting.

[2015-08-18 15:26] #185 closed

[2015-08-19 23:34] tpolecat commented on #201
should go back and update quoted identifiers as suggested by @dcsobral https://github.com/tpolecat/doobie/pull/214/files#r37458972

[2015-08-20 04:19] #201 closed

[2015-08-24 05:08] ajknoll opened #216 "postgis-stubs provides postgresql classes, and confuses assembly"
Found this fun error when running `sbt assembly` (https://github.com/sbt/sbt-assembly):

[code]

We've already applied the `exclude("postgres", "postgres")` fix to `doobie-contrib-postgresql`.

It looks like `postgis-stubs` is providing the `postgresql` classes in the wrong scope; perhaps the exclude on `"org.postgis" % "postgis-jdbc"` should be `exclude("org.postgis", "postgis-stubs")` instead.

[2015-08-25 18:29] ramnivas commented on #200
@tpolecat This is just to remind that you mentioned during Scala By the Bay that there may be an easier way to deal with such situations.

[2015-08-26 01:57] tpolecat commented on #200
@ramnivas I'm adding an FAQ section to the doc and will have a discussion of this topic with some suggested approaches.

[2015-08-27 19:03] wpoosanguansit opened #217 "Error with query from table with 70+ columns."
I do get Could not find or construct Composite[model.Table] error.  So I tried using Shapeless hlist type:

all columns:
Option[String] :: Option[String] :: Option[String] :: Option[LocalDateTime] ::
	                              Option[String] :: Option[String] :: Option[String] :: Option[String] ::
	                              Option[String] :: Option[String] :: Option[String] :: Option[Strin

[2015-08-28 14:28] tpolecat commented on #217
Instance construction is explosively complex so I'm guessing scalac is just giving up. I'll see if there's a way to simplify.

[2015-08-31 14:26] raichoo opened #218 "Trivial tests fail when using Microsoft SQL Server"
I'm trying to use the testing capabilities of Doobie to check Microsoft SQL queries but
even simple queries like the one below do now pass the tests.

    object MyTestSpec extends Specification with AnalysisSpec {
      val transactor = DriverManagerTransactor[Task](
          "com.microsoft.sqlserver.jdbc.SQLServerDriver",
          "jdbc:sqlserver://…;databaseName=…",
          "…",
          "

[2015-08-31 15:03] tpolecat commented on #218
MS-SQL is reporting that the column has type `-155`, which outside the JDBC specification. Can you do this and report the results? I already have a special case for `NVarChar` being reported as `-10` so I can probably just expand the case statement a bit more.

[code]

[2015-09-01 08:31] raichoo commented on #218
Here is the output:

    (datetimeoffset,-155)
    (sql_variant,-150)
    (xml,-16)
    (ntext,-16)
    (nchar,-15)
    (nvarchar,-9)
    (sysname,-9)
    (bit,-7)
    (tinyint,-6)
    (tinyint identity,-6)
    (bigint,-5)
    (bigint identity,-5)
    (image,-4)
    (varbinary,-3)
    (binary,-2)
    (timestamp,-2)
    (text,-1)
    (uniqueidentifier,1)
    (char,1)
    (numeric,2)
    (numeric()

[2015-09-01 18:05] tpolecat commented on #218
Ok, so `datetimeoffset/-155` (the inferred type of literal `42` for some reason) and `sql_variant/-150` have ordinals that are outside the spec. I'll see if I can find some doc on what these types really mean and with some luck I can just map them to proper JDBC constants (doobie already maps H2's `nvarchar/-10` to the spec's `-9` with no ill effect, heh-heh, so hopefully something similar will wo

[2015-09-09 04:10] tpolecat commented on #218
Ok per the [doc](https://msdn.microsoft.com/en-us/library/ms378878(v=sql.110).aspx):

So I'm not going to worry about that one.

As for `datetimeoffset` we have the constant `microsoft.sql.Types.DATETIMEOFFSET`, mapping to type `microsoft.sql.DateTimeOffset`, which is a date+time with UTC offset. Odd that this is the inferred type for an integer literal.

@raichoo do you have better luck if you do

[2015-09-09 06:42] tpolecat commented on #218
Aaaah nevermind, I know what's going on. It's not inferring `DATETIMEOFFSET` for `42`, it's just having trouble loading up the schema metadata. Can fix. Sorry for the confusion.

[2015-09-10 04:48] tpolecat commented on #218
Reopening pending confirmation. @raichoo can you try `0.2.3-SNAPSHOT` (on sonatype snapshots) and see if it resolves your problem?

[2015-09-15 00:13] kryptt opened #221 "Unexpected Test failure with custom enum types after upgrading pogresql jdbc version"
After upgrading the postgresql jdbc driver to 9.4-1202-jdbc42 query analysis with custom fields start to fail unexpectedly. For example:

[code]

I wrote a quick     `Meta.other[PGobject]("\"core\".\"resource_state\"").nxmap[A](` and that worked. So this should probably now be a documentation note, stating enums are properly support with version 9.4-1202-jdbc42 of the driver.

[2015-09-15 09:20] raichoo commented on #218
Hey,

I tested some queries with the snapshot and it seems to work so far. However the trivial one still fails as well as queries containing CTEs here are some failing examples:

    val trivial = sql"""SELECT 42""".query[Int]

    val cte =
          sql"""WITH cte_test AS (
                SELECT 42::int AS "FOO", 43::int AS "BAR"
              ) SELECT * FROM cte_test WHERE "FOO" = 42

[2015-09-15 14:31] kryptt commented on #221
I have since found out version 9.4-1202-jdbc42 will arbitrarily report an enum field as either a `VARCHAR` or `OTHER ("enumtype")`.

This driver version now makes my tests unpredictably fail...

[2015-09-15 14:58] davecramer commented on #221
I have a fix coming out for this. I can provide a snapshot if you want to test ?

[2015-09-15 15:40] kryptt commented on #221
Sure, I can test against your snapshot.

[2015-09-15 16:07] davecramer commented on #221
the 2103 snapshots here
https://oss.sonatype.org/content/repositories/snapshots/org/postgresql/postgresql/

Dave Cramer

On 15 September 2015 at 11:40, Rodolfo Hansen <notifications@github.com>
wrote:

[2015-09-15 16:17] kryptt commented on #221
@davecramer Ok, I'm using that snapshot and it is still happening. Do you need help setting up a test?

[2015-09-15 16:35] davecramer commented on #221
Yes, please

Dave Cramer

On 15 September 2015 at 12:17, Rodolfo Hansen <notifications@github.com>
wrote:

[2015-09-15 16:36] kryptt commented on #221
does an sbt project work for you ? any database / connection settings I should pick?

[2015-09-15 16:38] tpolecat commented on #221
I recommend doing the test in raw Java JDBC just to ensure that doobie isn't a factor.

Thanks for chasing this down, by the way. Ping me if you need help on the doobie end.

[2015-09-15 19:58] tpolecat commented on #218
Hm, that failure means the DB couldn't prepare the statement. Is that valid SQL?

[2015-09-17 05:07] tpolecat commented on #221
Since `doobie-contrib-postgresql` uses 1201 (this problem manifests only if you explicitly upgrade to 1202) I'm going to move it out of the 0.2.3 milestone. We can do another release once the driver issue is resolved.

[2015-09-17 05:16] #80 closed

[2015-09-17 05:16] #202 closed

[2015-09-18 05:32] tpolecat opened #222 "MS-SQL Driver failure when requesting metadata for CTE queries"
Forked from #218. The failure is reported as a problem with the SQL, but the failure actually occurs when requesting column metadata. The analysis should report the failure as a warning that says something like "due to driver limitations column metadata is unavailable for this query".

/cc @raichoo

[2015-09-18 05:33] tpolecat commented on #218
I'm closing this issue since the type mapping issue is fixed, but see #222 for a continuation re: the metadata problem.

[2015-09-18 05:33] #218 closed

[2015-09-18 20:20] tpolecat opened #223 "add sqlite-contrib"
Driver https://github.com/xerial/sqlite-jdbc

[2015-09-19 12:14] j-keck opened #225 "h2 doesn't support 'withGeneratedKeys' with multiple columns"
from [org/h2/jdbc/JdbcConnection.java#L1165](https://github.com/h2database/h2database/blob/86462170cd0c77bd07cfa40a7a14981032e2eacf/h2/src/main/org/h2/jdbc/JdbcConnection.java#L1165):

should at least be noted somewhere.

----

this code:
[code]
throws:
[code]

[2015-09-19 23:59] tpolecat commented on #225
Yeah this feature is only supported by some vendors (this is true in general for every JDBC operation) but I'll make it more clear in the doc. I think it doesn't work at all in MySQL.

[2015-09-24 05:44] #163 closed

[2015-09-24 05:44] tpolecat commented on #190
Resolved via #226

[2015-09-24 05:44] #190 closed

[2015-09-25 20:45] jhzab opened #227 "Error when calling attemptSql on returned value from traverseU"
The following code will not compile:

[code]

And scalac will give the following error:

[code]

But this works fine when the return type is explicitly specified:

[code]

(Of course, this also happens when the List is comprised of interpolated sql strings, i.e.: `(List(
      sql""""""
    ).traverseU(_.update.run): ConnectionIO[List[Int]]).attemptSql.transact(xa).run`)

[2015-09-25 20:48] tpolecat commented on #227
Thanks!

Probably need an unapply for the ops class, which will require some refactoring. Might not make it in 0.2.3 since there's a workaround but I'll take a look.

[2015-09-26 00:00] refried opened #228 "parameterized mysql query checks fail more spectacularly than expected"
[code]

I'm don't know what's going on behind the scenes, so I don't have much info to contribute here.

Some people have claimed that the `?generateSimpleParameterMetadata=true` url parameter avoids this exception for some situations — this doesn't seem to be one of them though.

* Is the url parameter really being passed through?
* If it's really a MySQL bug, would it be possible to just run the

[2015-09-26 04:02] refried opened #229 "Composite, Option, @@, and TypeTag"
I know we talked about this or similar before, but it's still pretty weird to me, so I thought I'd open a ticket:

[code]

I'm on board with `#1` and `#2`, but with no type args, `#3` is awfully boilerplatey.  Any suggestions?

Thanks for taking a look!

[2015-09-26 19:24] refried commented on #228
Last night we saw in the `com.mysql.jdbc.MysqlParameterMetadata` source that MySQL's `generateSimpleParameterMetadata` flag just switches between throwing an exception on all parameter metadata checks, vs throwing on some (e.g. nullability check) and returning junk data (e.g. `varchar`, `0`, `false`) on other checks; and should probably be called `generateGarbageParameterMetadata`!

Something like

[2015-09-26 19:48] refried commented on #228
I tried implementing his check by extending `AnalysisSpec`, but then the tests needed to look up `Composite` instead of using the instance already captured by `Query0.apply`.

[2015-09-27 18:23] miketkelly opened #231 "MS-SQL driver failure when requesting parameter metadata"
Likely a duplicate of #222. The Microsoft JDBC driver's implementation of `getParameterMetadata` parses the statement text to generate a new query that selects the parameters as columns. As an example, for the purposes of parameter metadata this query:

[code]

is sent to the server as:

[code]

The parser inside the driver that attempts this is extremely rudimentary, and often fails on valid sql.

[2015-09-27 21:07] tpolecat commented on #231
Awesome, thanks for chasing this down. Very helpful.

My plan at this point is to do a best-effort analysis and just issue warnings when I don't have sufficient metadata to perform a given check. I will consolidate issues (or not) once I have a solid plan.

Thanks!

[2015-10-02 11:40] #225 closed

[2015-10-06 15:37] refried opened #234 "no Atom/Param instance for 1-member case classes"
.

`implicit val MeetingIdMeta: Meta[MeetingId] = Meta[Int].xmap(MeetingId, _.int)` Can you open an issue for that? That's irritating.

[2015-10-06 16:21] tpolecat commented on #234
Duplicate of #12, which I will close. This has been around for a long time but was masked by #202.

[2015-10-06 16:22] tpolecat commented on #12
Closed in favor of #234.

[2015-10-06 16:22] #12 closed

[2015-10-06 18:54] refried commented on #234
Here's a version that doesn't work, by me: http://scastie.org/12459
and a version that does work, by @wedens: http://scastie.org/12463

Is there not a simpler way though?

[2015-10-06 19:39] #222 closed

[2015-10-06 19:39] #228 closed

[2015-10-06 19:39] #231 closed

[2015-10-06 19:53] #110 closed

[2015-10-06 21:01] tpolecat commented on #234
The @wedens version seems fine, but it should use `.nxmap` to deal with `null` properly.

[2015-10-06 21:58] tpolecat opened #237 "Upgrade to scalaz-stream 0.8"
:warning: This will require changing the resource combinator. See the [0.8 release notes](https://github.com/scalaz/scalaz-stream/wiki/0.8) for details.

[2015-10-07 20:23] refried opened #239 "typechecking compositions of sql queries"
Given
[code]
we can typecheck this operation if we factor it as:
[code]
and test with
[code]

Given the appropriate `Arbitrary` instances, would it someday be possible to compose the pieces of `insert2` in such a way that `insert2` can be typechecked directly, without factoring out and assigning names to the component queries?

[2015-10-08 04:51] tpolecat commented on #216
@ajknoll can you please test against `0.2.3-SNAPSHOT` (on sonatype) and see if that change fixed your problem?

[2015-10-08 05:08] #227 closed

[2015-10-09 02:16] #234 closed

[2015-10-09 02:17] tpolecat opened #242 "final review of book content for 0.2.3"

[2015-10-10 04:05] tpolecat commented on #216
Verified. This works now.

[2015-10-10 04:05] #216 closed

[2015-10-10 22:44] tpolecat commented on #217
@milessabin Here is the example you were asking for. It is not doobie-specific, but this is the mechanism I'm using. Is there a better way to do this kind of thing now?

[code]

Some examples

[code]

[2015-10-12 05:55] wedens commented on #217
Works with `Generic` instead of `ProductTypeClassCompanion`:
[code]
There was some other problem with `Generic` though #140

[2015-10-12 05:59] wedens commented on #217
And also it works with `ProductTypeClassCompanion` when you try to resolve instance in companion itself.

[2015-10-12 12:46] kryptt commented on #221
I wrote the following test :
https://github.com/kryptt/pgjdbc/commit/5a38cfe0220beb340977ad60cfcb83a18ae41775
for the driver code, expecting it to possibly fail, or to start narrowing down the issue. But I get things reported correctly and decided to write something from the doobie side as well to start narrowing down what my problem is. So, I wrote this:
https://github.com/kryptt/doobie/commit/f4

[2015-10-12 13:30] davecramer commented on #221
Seems to me your java test uses resultsetmetadata and doobie uses
databasemetadata

Dave Cramer

On 12 October 2015 at 08:46, Rodolfo Hansen <notifications@github.com>
wrote:

[2015-10-12 13:53] tpolecat commented on #217
Ok I will try that, thanks.

[2015-10-12 13:53] tpolecat commented on #217
The problem is with `Composite` obvs.

[2015-10-12 13:59] kryptt commented on #221
@tpolecat How does doobie handle both sources ? (I couldn't find it in the source)

[2015-10-12 14:06] tpolecat commented on #221
I use database metadata (from the `Connection`) to get the JDBC ↔︎ native type mappings, parameter metadata (from the `PreparedStatement`) to get parameters types, and column metadata (from the `ResultSet`) for output columns. All three work well with 1201.

[2015-10-13 04:37] tpolecat commented on #217
@wedens your code above still diverges for me.

[2015-10-13 04:43] wedens commented on #217
@tpolecat hm. weird. which scala and shapeless version do you use?

[2015-10-13 04:44] tpolecat commented on #217
2.11.7 and 2.2.2

[2015-10-13 04:46] wedens commented on #217
@tpolecat same.. *exactly* this code diverges?

[2015-10-13 04:48] tpolecat commented on #217
Yes. Copy/Paste. Tried it from doobie sbt, both in the REPL and as a source file.

[2015-10-13 04:53] wedens commented on #217
Interesting. If I put this code in doobie, it diverges. In a separate project it compiles.

[2015-10-13 04:55] tpolecat commented on #217
![image](https://cloud.githubusercontent.com/assets/1200131/10445777/d6b20a20-712b-11e5-8d37-2467ca467e72.png)

[2015-10-14 14:21] tpolecat commented on #217
@wedens @milessabin @non ok this is nuts, but compilation doesn't terminate if you are using kind-projector. Code and relevant sbt nonsense reproduced here.

@wpoosanguansit if you are using kind-projector in your project can you remove it and see if it fixes your problem?

**build.sbt**

[code]

**hmm.scala**

[code]

[2015-10-14 14:33] wedens commented on #217
@tpolecat have you tried `ProductTypeClassCompanion` without KP?

[2015-10-14 14:36] tpolecat commented on #217
Nope. I have to step out for a while but I'll try it when I get back.

[2015-10-14 15:52] non commented on #217
Oh man. I'll look into this. Thanks and sorry! :sob:

[2015-10-14 15:54] wpoosanguansit commented on #217
@tpolecat I am not using that plugin at all.  But I am using others.  I will validate them to see if they play any role in this.

[2015-10-15 10:37] milessabin commented on #217
Are you able to try with shapeless 2.2.5 or 2.3.0-SNAPSHOT?

[2015-10-15 10:51] wedens commented on #217
@milessabin same problem with 2.2.5 and 2.3.0-SNAPSHOT

[2015-10-15 10:59] milessabin commented on #217
@tpolecat did you explore the avenue that @wedens suggested here: https://github.com/tpolecat/doobie/issues/217#issuecomment-147297597 ... ie. using `Lazy` and implicit resolution directly rather than using `ProductTypeClass`?

[2015-10-15 11:55] non commented on #217
I think any compiler plugin that uses a `TypingTransformer` will have this problem -- it looks to me like parsing these nested hlist types has a quadratic time complexity (at least, that's what I obseved via tracing).

The solution for *kind-projector* involves memoizing the `Tree => Tree` transformation (using a cache). My sense is that other compiler plugins could solve this problem the same way

[2015-10-15 12:36] non commented on #217
Fixed by https://github.com/non/kind-projector/pull/22 -- @tpolecat I'll push a new release ASAP.

[2015-10-15 12:48] milessabin commented on #217
:clap:

[2015-10-15 12:48] non commented on #217
If you upgrade to kind-projector 0.7.1 the example should compile correctly now.

[2015-10-15 16:57] tpolecat commented on #217
@non Awesome! This fixes the direct implicit resolution (without `ProductTypeclass`) which I think is now working thanks to `Lazy` (thanks @milessabin for mentioning it). I'll do some more testing tonight but I think all is well!

[2015-10-16 04:38] tpolecat commented on #242
Once again, please. Some details in the `Param` and `ProductTypeClass` changes.

[2015-10-16 04:40] #217 closed

[2015-10-21 17:04] wpoosanguansit opened #246 "Stackoverflow with Composite for 80+ column table."
I was able to do query on table with 84 columns using case class as the type.  But when I define the Composite for dealing with nested case classes, I do get stackoverflow error:

java.lang.StackOverflowError
    at scala.tools.nsc.typechecker.AnalyzerPlugins$class.pluginsPt(AnalyzerPlugins.scala:304)
    at scala.tools.nsc.transform.Erasure.pluginsPt(Erasure.scala:15)
    at scala.tools.nsc.typec

[2015-10-21 18:13] tpolecat commented on #246
@wpoosanguansit you should be able to derive `Composite[BigTable]` directly ... but tell me, where is `BigTable` defined? If it is defined locally in a method or initializer block I think the derivation will fail. I am  trying to track it down. Does the following compile for you?

[code]

[2015-10-21 18:38] wpoosanguansit commented on #246
@tpolecat The declaration compiles fine.  In between, I tried increasing the the -xss flag to the jvm

-J-Xss124M

and this seems to resolve the stackoverflow issue.  But it takes about 4-5 mins each compile.

[2015-10-21 18:41] tpolecat commented on #246
Ok, I'll leave this open and see if there's a way to speed things up.

[2015-10-27 05:46] tpolecat commented on #246
The problem is the alternate derivation of `Composite` via `Product` and via `Atom`. Without the `Atom` derivation this all works quickly. There is no immediate fix so I'm going to push this to 0.3.0 for now, but may pull it back to 0.2.4 once the dust settles. I don't want to hold up 0.2.3 any longer.

[2015-10-27 13:26] wpoosanguansit commented on #246
Thanks for your help, Rob.  I would really love to learn more in detail about the issues involved.  It would be great if you would decide to blog more in how you construct Doobie.

[2015-10-31 20:19] tpolecat opened #248 "add updateMany example"
The doc doesn't have an example of `updateMany` and at least one user became confused.

[2015-11-02 05:48] tpolecat opened #249 "fix json example"
As @dbousamra points out, you don't get access to Argonaut's derived instances when you use `CodecJson`.

So the solution is to make the context bound less restrictive:

[code]

From here you can derive the `Meta` for `List[Person]` or whatever ... anything Argonaut can derive for you.

So update the doc.

[2015-11-03 05:39] #242 closed

[2015-11-05 15:22] tpolecat commented on #246
I'm going to take one more shot at this and see if [export-hook](https://github.com/milessabin/export-hook) will let me put a firewall between the derivation paths.

[2015-11-07 05:06] #248 closed

[2015-11-07 05:06] #249 closed

[2015-11-16 17:51] trepidacious opened #253 "Example of test with in-memory database table creation"
It would be handy to be able to write tests against an in-memory database, so that testing does not rely on an existing database. An example of this using setup/teardown in a specs2 test would be very useful.

[2015-11-16 17:53] tpolecat commented on #253
:+1:

[2015-11-17 11:34] trepidacious commented on #253
I'm not sure whether this is the best way of doing things, but I got something apparently working with specs2 :)

The key thing seems to be to use a `should` and `in` format for the test, rather than having the checks in the body of the `Specification` as in the current book of doobie example (`Queries.create` creates the tables, and the other queries use them). I also tried using a `step{ DAO.cre

[2015-11-24 23:40] sovereignsoftware opened #255 "contrib-hikaricp depends on HikariCP-java6"
Is there a reason why the contrib module pulls in the java6 version of HikariCP?

[2015-11-24 23:42] tpolecat commented on #255
Not anymore. Thanks.

[2015-12-01 04:59] tpolecat opened #256 "reduce combinator"
Add a combinator to `HRS` to accumulate results via a `scalaz.Reducer`. This is more general than `MonadPlus` and potentially as efficient as `CanBuildFrom`.

[2015-12-04 13:08] justinpitts opened #258 "java.util.NoSuchElementException: head of empty list in Ammonite-REPL"
When I walk through the first tutorial, I get a failure message from Ammonite when I try to assign the expression 42.point[ConnectionIO] to program1.

Full session screenshot: http://imgur.com/8GOAih0

[code]

[2015-12-04 16:50] tpolecat commented on #258
Ah, interesting. Ammonite doesn't like something about `ConnectionIO`. I'll chase it down.

Thanks for the thorough bug report!

[2015-12-04 17:30] tpolecat commented on #258
A bit more information. The problem appears to be in the alias, not in the underlying type:

@ import doobie.imports._
import doobie.imports._

@ import scalaz._, Scalaz._
import scalaz._, Scalaz._

@ 42.point[ConnectionIO]
Compilation Failed
Main.scala:1426: exception during macro expansion:
java.util.NoSuchElementException: head of empty list
	at scala.collection.immutable.Nil$.head(List.scala:4

[2015-12-04 17:33] tpolecat commented on #258
Hey @lihaoyi do you have any thoughts on this? Looks like something wacky with printing aliased types.

[2015-12-04 17:43] lihaoyi commented on #258
Looks like https://github.com/lihaoyi/Ammonite/issues/198

Honestly, I have no clue what I'm doing, so the code inside pprint which is blowing up probably is just forgetting to handle some case somewhere or is buggy. If you have time, Add your test case [here](https://github.com/lihaoyi/upickle-pprint/blob/master/pprint/shared/src/test/scala/test/pprint/DerivationTests.scala) and see if you tweak

[2015-12-04 17:53] tpolecat commented on #258
Cool, I'll take a look.

[2015-12-07 10:38] kareblak opened #260 "Add Meta derivation for single element products"
Allow Meta to be derivated for single elements products, eg. Id object wrappers etc.

[code]

Today one must define an explicit `Meta[List[Foo]]` to achieve this.

[2015-12-18 18:39] cranst0n opened #261 "Add Meta instance to satisfy MySQL 'mediumblob' type"
Using MySQL with a column type of `mediumblob`, running `checkOutput(myQuery)` yields:

[code]

Creating a custom `Meta` mapping between `Array[Byte]` and `LONGVARBINARY` will satisfy the type checker:

[code]

[2015-12-18 21:26] tpolecat commented on #261
Thanks, at the very least this will become a FAQ. But ideally you should be able to suppress warnings ... it really shouldn't be this much work.

[2015-12-22 18:39] cranst0n opened #262 "checkOutput throws NullPointerException"
Using MySQL, running the following query works within the MySQL console and also via JDBC:

[code]

This Specs2 fragment passes as expected:

[code]

However this:

[code]

throws:

[code]

[2015-12-22 18:47] tpolecat commented on #262
It looks like an exception is being raised during analysis but `.getMessage` is returning `null`, which is breaking the output formatter. If you can try the following in the REPL it might provide a clue.

[code]

My expectation is that it will throw an exception that might provide more clues.

[2015-12-22 18:55] cranst0n commented on #262
Here's what I get:

[code]

[2015-12-22 18:57] tpolecat commented on #262
Ah, sorry. MySQL. Can you try again with `outputAnalysis` rather than `analysis`?

[2015-12-22 19:01] cranst0n commented on #262
[code]

[2015-12-22 19:10] tpolecat commented on #262
Ok the exception is here ... it looks like the driver is returning `null` when we ask for column metadata on the `ResultSet` (the NPE arises from `md.getColumnCount`).

[code]

I think the TL;DR is that the driver can't provide any useful information about this query. But doobie should be able to cope with `null` here so I'll fix that bit.

[2015-12-22 19:17] cranst0n commented on #262
Fair enough. Thanks for looking into this so quickly.

[2016-01-22 17:45] tpolecat opened #264 "Rename .run method on Update"
@kareblak and others have noted that the `.run` method on `Update/0` isn't very descriptive and is potentially misleading because it sounds like it side-effects. @milessabin suggests `.plan` which seems pretty good to me.

[2016-02-02 23:09] betehess opened #266 "How to get the full content of a `mediumblob` in MySQL?"
We are trying to get images out of a MySQL database.

Here is the query:

[code]

When we look at the result (e.g. saving `image` into a file) we only see the first part of the image as if the content was chunked.

Here is the definition of that table:

[code]

Is there a way to ask for the full content?

[2016-02-03 05:18] tpolecat commented on #266
Ok, the trick is to wrap the `Array[Byte]` and write a `Meta` instance for the wrapper type. You could also use a scalaz or shapeless tagged type or whatever; it just needs to be distinct.

Let me know if it works.

[code]

[2016-02-03 05:30] tpolecat commented on #266
I should also note that I didn't verify the "can't just use `Array[Byte]`" behavior … I'll take your word for it.

[2016-02-03 23:25] tpolecat opened #267 "Example Process w/Timing"
@leifwickland would like to get some timing information about query execution within a `Process[ConnectionIO, ?]`.`

[code]

So let's put together an example that gives timing information.

[2016-02-04 06:38] tpolecat commented on #267
Ok this is a little complicated because the process lifting machinery isn't public so I had to copy/paste a bit. Let me know if this helps or not.

[code]

And the output:

[code]

[2016-02-05 18:09] leifwickland commented on #267
@tpolecat Your suggestions worked great. Thank you so much!

[2016-02-05 18:10] tpolecat commented on #267
Awesome! Glad it helped. Hopefully this will be easier in the future.

[2016-02-05 18:10] #267 closed

[2016-02-12 08:01] kareblak opened #270 "`updateMany` on `Update0`"
AFAIK, it's not possible to `updateMany` on `sql`-interpolated update queries. E.g. the `ON CONFLICT UPDATE` in Postgres can only be run on one input object at a time, through `Update0`. I'm not sure if this can be solved in JDBC at all, so this is more a request for information than an issue.

Question originally posted on Gitter by @gpampara

[2016-02-15 12:00] kareblak commented on #270
Totally overlooked the `EXCLUDED` change set in the PG docs. A solution could be to:
[code]
which would yield a `Task[Int]`

[2016-02-15 12:00] #270 closed

[2016-02-17 18:15] tpolecat opened #271 "Use Typeable instead of TypeTag"
doobie uses `TypeTag` for diagnostic purposes but it can cause issues in 2.10 because it's not threadsafe. Miles suggests `Typeable#describe` … looks good.

[2016-02-18 05:44] refried commented on #271
*mindblown*

[2016-02-23 02:52] charlesa101 opened #273 "CallableStatement Example???"
I am trying to implement a callable stored proc with out param return resultset???

Not sure the current version can support it

[2016-02-23 03:27] tpolecat commented on #273
You can do this but you need to use a lower-level API. Which database are you using?

[2016-02-23 05:14] charlesa101 commented on #273
IBM AS400 :(

=================
Notice:
This e-mail including any attachments is confidential and may be legally
privileged. If you have received it in error please advise the sender
immediately by return email and then delete it from your system. Any
unauthorized use, distribution, copying or alteration of this email is
strictly forbidden.

On Mon, Feb 22, 2016 at 9:27 PM, Rob Norris <notificatio

[2016-02-23 05:15] tpolecat commented on #273
So, like, Oracle? or DB2?

[2016-02-23 05:17] charlesa101 commented on #273
DB2

=================
Notice:
This e-mail including any attachments is confidential and may be legally
privileged. If you have received it in error please advise the sender
immediately by return email and then delete it from your system. Any
unauthorized use, distribution, copying or alteration of this email is
strictly forbidden.

On Mon, Feb 22, 2016 at 11:15 PM, Rob Norris <notifications@githu

[2016-02-23 20:29] tpolecat commented on #266
@betehess sorry, did this answer your question? We may have chatted on Gitter but I don't remember.

[2016-02-23 21:14] tpolecat commented on #273
I did this with Postgres but it be similar with DB2. Assume we have a function with an `OUT` cursor:

[code]

We can then write a program to call it and return the results. To do this you need to use the `free` API for the `CallableStatement` stuff, which is basically at the same level of abstraction as JDBC. The connection and result handling use the `hi` API which is higher level and safer.

[co

[2016-02-23 22:17] charlesa101 commented on #273
Cool! @tpolecat, thanks a lot!!! this close to what i want..! very compact and succinct,

Now let me try it on db2 and i will let you know how it goes!

Thank you

[2016-02-24 18:30] betehess commented on #266
I didn't come back to you, my bad... Our characterization of the problem was actually wrong :-/ The previous engineer on that system had the (not) good idea to split the images on different rows, and we didn't understand that the corresponding PHP code that was really concatenating the byte arrays.

That being said, there are things around `Meta` that would be nice to discuss with you next week.

[2016-02-24 18:30] #266 closed

[2016-03-01 18:29] cranst0n opened #274 "case class default parameters"
Given:

[code]

`q1` will not type check due to the default parameter for `shenanigans`:

[code]

@milessabin reports that shapeless 2.3.0 supports default parameters so this will hopefully be solved when the dependency is updated.

[2016-03-02 12:00] tpolecat commented on #274
Hi, thanks. I'll take a look at this for the next version.

[2016-03-02 15:15] tpolecat opened #275 "Document interacting w/ Futures"

[2016-03-02 21:59] tpolecat opened #276 "Use export hook for shapeless derivations?"
And slice the dependency off?

[2016-03-12 12:36] vdichev opened #277 "Record names not checked with column names"
When mapping multi-column queries to a shapeless record, only the positions of the columns are taken into account. That is to say, the first column from the query is mapped to the first record entry, etc. This is a bit unfortunate as it's all too common to mix up the order of columns or records and if they're not the same type, then errors would be produced even though the types corresponding to t

[2016-03-12 21:28] tpolecat commented on #277
Regarding `SELECT *`, this is always wrong so I'm not going to go out of my way to make it easier.

Regarding field-name checking, programs should be invariant under rename-refactoring so I don't support mapping columns to case class fields by name, for instance. There is a bit of a gray area with singleton types in shapeless records because you can make an argument that they are actually data, no

[2016-03-13 05:33] vdichev commented on #277
OK, I was suspecting that it's not only a technical issue and I see the arguments for not mapping the names to case class field names automatically.

Regarding "SELECT *"- completely agreed, it shouldn't be the main argument. I just gave this as an example since the other non-abandoned DB library which checks SQL queries- Slick- gives this example on http://slick.typesafe.com/doc/3.1.1/sql.html:

[2016-03-14 01:14] wennergr opened #278 "Mapping of postgres composite types"
Is it be possible to map a [postgres composite types](http://www.postgresql.org/docs/9.0/static/rowtypes.html) to a case class?

Example SQL that returns a composite type
[code]

[2016-03-17 14:35] tpolecat commented on #278
So, the best the driver can do is hand you a `PGObject` that contains a string version of the value that you have to parse out. It can be done but the escaping is somewhat complex ... the tokenizer provided by the driver doesn't quite understand everything that's coming back. In the case you provide it looks like

    ("Acme Inc","{""(1234,mr,Eriksson)"",""(1235,miss,Svensson)""}")

But adding som

[2016-03-18 18:17] wennergr commented on #278
Yeah, I will probably go with JSON instead. E.g use the `to_json` function on the composite type.

Long term, I do think that such parsers would be a useful thing to have (and fun to write). Would you be interested in a PR?

[2016-03-18 18:20] tpolecat commented on #278
If you want to give it a try feel free. It will end up having the same structure as Argonaut or Circe I think, and will need to lean on the driver internals for parsing types out. In principle it seems easy but I think the details will end up being hard.

[2016-03-20 19:19] #278 closed

[2016-03-22 02:55] guersam opened #279 "Consistent all-in-one import clauses among contrib subprojects"
Currently we need `import doobie.contrib.postgresql.pgtypes._` for some postgres-specific typeclasses such as array support, which is inconsistent with `import doobie.imports._` and easy to forget.

Incomplete IDE support makes it worse by dropping the import clause during optimizing import or move refactoring due to a false implicit resolution (it's not responsibility of doobie but it sometimes m

[2016-03-22 02:56] tpolecat commented on #279
:+1: thanks for pointing this out. Will fix for 0.2.4

[2016-03-25 23:16] justinpitts commented on #258
Appears to be fixed. Thanks @tpolecat and @lihaoyi

[2016-03-25 23:16] #258 closed

[2016-03-28 12:18] guersam commented on #206
Opened https://youtrack.jetbrains.com/issue/SCL-10091 with a simplified example as I'm suffering from this either. Please vote!

[2016-03-28 12:24] guersam commented on #206
But I'm not sure if IDEA will infer the return type as well even after the issue is resolved, because `applyProduct` is a macro.

[2016-03-28 22:03] tpolecat commented on #206
@guersam thanks for doing this. I tend to ignore IntelliJ but it will be nice to get it fixed if they feel like doing it.

[2016-03-29 06:03] tpolecat opened #280 "Refined support for doobie"
see initial work in #265

[2016-04-09 17:46] beefyhalo opened #281 "Add Test Interpreters"
I'd like to have a test interpreter to verify the structure of doobie programs.

Note:
I'm not so sure how useful this would be since almost all `ConnectionIO`s I've tried to deconstruct have been `PrepareStatement4` which seem opaque

[2016-04-11 19:17] beefyhalo opened #282 "Add Composability with other Free Algebras"
I'd like to compose doobie programs with other free algebras "data a la carte" style (using `scalaz.Inject`).

[2016-05-10 03:02] #237 closed

[2016-05-11 23:50] veegee opened #288 "Time zone offset is lost when reading TIMESTAMPTZ from PostgreSQL"
Doobie version: 0.2.3
PostgreSQL version: 9.x

When SELECTing a TIMESTAMPTZ field, PostgreSQL returns data with the time zone:

[code]

This should ideally be mapped to the `java.time.ZonedDateTime` type. However, we're currently forced to map it through `java.sql.Timestamp`, which discards the time zone information and thus yields an incorrect absolute time.

A temporary workaround for SELECTing

[2016-05-12 22:59] tpolecat commented on #288
Hm I can't seem to force this to happen. `Timestamp` seems to be immune to timezone issues; mismatched timezones on server, session, and client (and mismatched again between read and write) don't cause any problems for me. I think maybe I'm missing something.

Here is my test program. Output looks like:

[code]

Source here.

[code]

[2016-05-12 23:35] tpolecat commented on #288
This adds the `ZonedDateTime` mapping, with the same result. Note that it doesn't matter whether the field is `TIMESTAMP` or `TIMESTAMP WITH TIMEZONE` ... works either way.

Again I think I may be missing something. Let me know what you think.

[code]

[2016-05-13 00:21] veegee commented on #288
Turns out this isn't actually an issue. Just need to call  `TimeZone.setDefault(TimeZone.getTimeZone("UTC"))`

[2016-05-13 00:21] #288 closed

[2016-05-13 14:24] tpolecat commented on #288
For the record, I suggest using [only] the following mapping, just for `Timestamp`, which is logically an `Instant`. It makes little sense to map a `ZonedDateTime` because the zone information cannot be preserved (although the instants are equivalent).

[code]

[2016-05-17 21:25] stliang opened #289 "Doobie process example with http4s and h2"
Tim Perrett's sample web service project using http4s and h2 is a nice project to jump on when start learning doobie.  It lacks a process example and it is more common to use process than list for large dataset.  Please kindly add a process endpoint in the example:

    https://github.com/timperrett/functional-microservice-example

At the time of this writing, Tim has not implemented the service e

[2016-05-20 01:02] tpolecat opened #290 "labeled composite (read)"
We could derive a new kind of "flat" composite that uses labels rather than offsets to map columns to constructor fields. It could not support nesting but might be nice for some people. Perhaps use like:

[code]
 and

[code]

We could also add a check for these, to ensure that the column names exist.

[2016-05-20 01:06] #273 closed

[2016-05-26 17:58] bmjames opened #291 "Publish 0.2.4 milestone release"
Please publish a 0.2.4 milestone release, particularly so that we can try out the scalaz-stream 0.8 upgrade.

[2016-06-04 18:25] leifwickland opened #292 "Expose a mechanism for instrumenting query with timing"
In #267 @tpolecat was nice enough to help me figure out how to instrument my query so I could determine how long it takes to execute. In gitter, @tpolecat suggested I open an issue about a more generalized way to get the same effect.

For bonus points, I'd sure love to be able to log the final query that was generated along with the timing information.

[2016-06-10 17:03] jedesah commented on #206
I tend to use IntelliJ, I am unfortunately unaware of a less crappy development environment for Scala (not trying to bash IntelliJ or any other development tool, supporting the entirety of Scala is REALLY hard).

That said. I don't think `doobie` should add cruft to make IntelliJ (or any other editor) happy. Thx @guersam for opening an issue on YouTrack where the proper fix lies.

[2016-06-10 20:11] Jacoby6000 commented on #206
@jedesah ensime + atom/emacs/vs-code/vim has been working really well for me.

[2016-06-28 17:49] refried opened #294 "scalaz-stream 0.8 upgrade (#237) created binary incompatibility in series/0.2.x"
😞

[2016-06-28 17:51] refried commented on #294
How about scalaz-stream 0.7.3a in doobie 0.2.x for now instead?

[2016-06-28 17:56] tpolecat commented on #294
doobie is pre-1.0 and there is no guarantee of binary compatibility, although point releases end up being mostly source compatible.

[2016-06-28 17:56] #294 closed

[2016-07-05 18:12] veegee opened #295 "Implement support for Vector[UUID] by default"
By default, it doesn't look like querying `Vector[UUID]` is supported, but it's easy enough to fix by adding:

[code]

[2016-07-07 04:50] #295 closed

[2016-07-07 12:25] ibalashov commented on #206
Trying to apply the fix, but getting the following error:

[2016-07-07 16:34] tpolecat commented on #206
@ibalashov if you want to see if it's working try something like `def foo(n:Int, s:String) = sql"blah $n $s"` which will desugar to `SqlInterpolator(...).applyProduct(b :: a :: HNil)`.

[2016-07-09 05:15] #291 closed

[2016-07-11 00:18] veegee opened #303 "String is not coercible to VARCHAR when using Enum types"
Create an Enum as follows:

[code]

[code]

Then query:

[code]

But query checking fails:

[code]

Using Doobie 0.3.0

[2016-07-13 12:49] clayrat commented on #206
So, the https://confluence.jetbrains.com/display/SCA/Scala+Plugin+EAP+15 says that the SCL-10091 fix is included starting from `2016.2.0`, but it doesn't seem to work for me, can somebody confirm?

[2016-07-13 13:49] ibalashov commented on #206
@clayrat Didn't work for me either.

[2016-07-18 21:02] KadekM commented on #206
Even with nightly plugin build problem is still there in IntelliJ 2016.2

[2016-07-19 16:35] nuttycom opened #306 "What setup is necessary to run the doobie tests?"
Would it be possible to add a bit to the README to indicate what setup is necessary to run the test suite(s)? I'm working on upgrading to scalaz 7.2.4 and getting rid of some deprecation warnings, and I'd like to be able to run the whole suite.

[2016-07-19 16:49] tpolecat commented on #306
Hey Kris, that's a good idea. If you look at the `.travis.yml` you'll see what you need ... the Postgres tests and tut doc need a test database (and default `postgres` user with no password), otherwise everything you need should be on the classpath. Let me know if you run into trouble.

Also feel free to open a WIP PR and let Travis deal with it.

Leaving open … need to add a `CONTRIBUTORS.md` fil

[2016-07-23 22:02] tpolecat opened #310 "compile for scalaz+fs2?"
Moving to from scalaz-stream to fs2 is nontrivial so I'm not sure how much demand there will be initially, but this seems like a natural combination to support.

[2016-07-24 19:25] fiadliel opened #311 "Support fs2.Task (but as generically as reasonably possible)"
Currently, the FS2/cats port of doobie supports only `IOLite`, which is probably not a useful effect type in the larger ecosystem outside of doobie.

The port should support other "IO" types, the obvious questions are which ones, and how.

1. `fs2.Task` isn't very difficult to support explicitly, it includes enough functionality to implement both `Catchable` and `Capture`. Calling `Task` functiona

[2016-07-24 19:29] fiadliel commented on #311
Oh, fourth option: doobie uses FS2 typeclasses instead of its internal versions. I doubt this will fly, but it is an option.

[2016-07-24 20:12] fiadliel commented on #311
... and having caught up on your discussion on gitter. I see what you mean, that I have no guarantees about what `Applicative` will do with the value afterwards.

In fact, perhaps we can't currently implement requirements in terms of cats typeclasses, _because_ it doesn't internally implement an IO type.

[2016-07-24 20:19] tpolecat commented on #311
@fiadliel fs2 `Effect` implies doobie `Capture` so we can certainly do that, and I didn't notice cats `MonadError` which subsumes doobie `Catchable`. So those changes would make at least fs2 `Task` work out of the box, in a more general way than just providing instances.

For Monix it's just a matter of providing the instances, which isn't a big deal.

[2016-07-24 20:22] fiadliel commented on #311
`Effect` also extends `fs2.util.Catchable`, so it's enough to add support `fs2.Task`, without considering cats typeclasses at all. I can make a PR doing this.

[2016-07-28 16:29] refried opened #313 "sql-only checks for insert/update/delete in crippled mysql"
Hi @tpolecat,

We talked about this a couple weeks ago in the channel, and I thought I'd rigged my own solution using something like this:
[code]
but I discovered today that errors like unknown column names or even sql syntax errors aren't caught by that.  Can you recommend a more effective implementation? :)

[2016-08-03 10:59] fernandomora commented on #262
Is this fixed either in 0.2.x or 0.3.x branch?

[2016-08-04 13:07] artempyanykh opened #316 "OutOfMemoryError when fetching data from large tables"
Doobie: v0.3.0, 0.2.4
Scala: 2.11.7
System: Mac OS El Capitan
DB: PostgreSQL v9.4.4

Considering a table with 10M records, processing of q1 and q2 behaves differently:
[code]

`r1` usually works fine, while `r2` fails with OutOfMemory (it's trying to fetch the whole 10M records beforehand).

[2016-08-04 17:54] tpolecat commented on #316
When I try the following with the `world` database using only JDBC there is a 14-second pause and a memory spike before the first row arrives. So I think this is the driver. Can you try this with your query and see if you experience the same thing?

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/1200131/17412422/4fc86652-5a42-11e6-92c2-733c81f42187.png)

[2016-08-04 18:03] tpolecat commented on #316
But when I continue reading with a stream I'm seeing usage continue to grow. Huh.

[2016-08-05 01:59] andrusha commented on #316
Shouldn't chunking help in that case? As at every point in time only a subset of records will be retrieve. https://github.com/tpolecat/doobie/pull/314

[2016-08-11 04:43] tpolecat commented on #316
I'm still looking at this but haven't pinpointed where the issue is. There is some subtlety in the way the streams are constructed that seems to be causing cells to be retained. Chunking is an orthogonal concern.

[2016-08-11 07:50] artempyanykh commented on #316
@tpolecat I tried the code above with my query and it looks like (pic below) with 33s delay before the first row is received.
<img width="526" alt="screenshot 2016-08-11 10 47 58" src="https://cloud.githubusercontent.com/assets/2338443/17581884/8d155502-5fb9-11e6-883a-2b98d60b1b8f.png">

[2016-08-11 08:12] guersam commented on #316
Could this be relavant? https://jdbc.postgresql.org/documentation/91/query.html#query-with-cursor

[2016-08-11 16:41] #316 closed

[2016-08-11 17:35] tpolecat opened #320 "chunking/oom fix for 0.2.x"
back-port chunking and the #316 fix to 0.2.x for people who are still on scalaz 7.1

[2016-08-11 17:36] tpolecat opened #321 "figure out automatic snapshot publishing via travis"

[2016-08-11 17:45] tpolecat commented on #316
@artempyanykh and others, the fix is in the 0.3.1-SNAPSHOT build if you want to try it out.

[2016-08-12 03:28] tpolecat opened #322 "doc on chunking"
We need to be sure the `chunkSize` on `getNextChunk` and elsewhere, including a mention in the book.

[2016-08-12 03:45] guersam commented on #311
I'd suggest that we start with option 1 which seems the easiest for now, and then consider the others in relation to #310. WDYT?

[2016-08-12 06:46] artempyanykh commented on #316
Ah, sounds amazing! Thanks @tpolecat @guersam !

[2016-08-12 13:40] Centaur opened #324 "parameterize sql interpolation"
What I am implementing is a trait that contains some common queries, like this:

[code]

Obviously the above code does not compile because in sql interpolation `$tableName` will be interpreted as sql statement parameter.  So is there some way to introduce such parameters to sql interpolation ?

[2016-08-13 03:10] tpolecat commented on #324
This approach is kind of fragile because it will break if you change your table definition (i.e., what you get when you `SELECT *`) but you can implement it by constructing a `Query` directly.

[code]

[2016-08-13 03:54] Centaur commented on #324
Thank you for mentioning the caveat, I have planned a code generation task to keep the code up to date. I should have finished reading the book first.

[2016-08-13 03:54] #324 closed

[2016-08-21 03:42] tpolecat opened #329 "freegen for postgres apis"
Why aren't we using freegen for Postgres? I think there was a reason but I don't remember what it was. Try again.

[2016-08-25 17:29] tpolecat opened #330 "Test with typelevel scala"
Test out building with typelevel scala, and confirm that the typelevel runtime is pulled in for users.

[2016-08-30 15:17] andrusha commented on #316
@tpolecat when do you plan to release `0.3.1`?

[2016-08-30 16:34] tpolecat commented on #316
@andrusha in the next few weeks I hope. Just need to find a few hours to work on it.

[2016-08-30 17:39] denisftw commented on #206
Apparently, they fixed the issue opened by @guersam, and indeed, in the latest version of the Scala plugin his simplified example works without red highlighting. This doesn't, however, fix the problem with sql interpolation in doobie. Looks like the real use case is slightly more involved than `DynamicInterpolationExample`.

[2016-08-31 06:45] tpolecat commented on #206
@denisftw hm, ok. Thanks for the info. Guess we need a more involved use case to report.

[2016-09-06 00:03] #311 closed

[2016-09-06 00:13] #109 closed

[2016-09-07 08:08] fanf opened #334 "Allow constant interpolation in sql macro"
It would be nice to be able to have constant interpolation in the sql macro as an alias system, to save keystrokes and facilitate refactoring. The two main use cases identified today are:
1.  a long table name, that you have to repeat tens of time in different variation of requests - ie, just an alias, defined statically at one place: `sql"select foo, bar, baz from #$user where ...`, where in fact

[2016-09-09 18:56] tpolecat opened #335 "0.3.1-SNAPSHOT issues"
- [x] link to snapshot book of doobie in README is wrong
- [x] doc mentions `doobie-postgresql-cats` which is wrong
- [x] there's no specs2 artifact

[2016-09-11 07:41] tpolecat commented on #335
#336 fixed the link

[2016-09-13 00:11] fanf opened #338 "Missing SQLXML mapping which needs the connexion"
There is no SQLXML defined in Doobie for now. And it's an ill defined typed, which need the connexion to be mapped, so no easy way with Meta like:

[code]

It would be nice to have an example in the doobie book that demonstrate how the connexion can be reached for that mapping.

And ideally to add the support in future Doobie version (perhaps in some third party dependency, to not force most of th

[2016-09-13 09:54] janua opened #339 "Presto JDBC driver SQLException"
I receive the following exception when trying to use doobie with the Presto JDBC driver:

[code]

In gitter, there has been conversation about it [here](https://gitter.im/tpolecat/doobie?at=5643d8cbbf9b7d0c398763db) and [here](https://gitter.im/tpolecat/doobie?at=5643da1cbf9b7d0c3987642d), suggesting there would be a typeclass by `0.3`, allowing me to switch off auto-commit. I can see the abstract

[2016-09-13 15:56] tpolecat commented on #338
So, there are so many ways to do this I can't support a default strategy. Here is one.

[code]

And it seems to work.

[code]

[2016-09-13 15:57] tpolecat commented on #338
Leaving this open so I can add to the doc.

[2016-09-13 17:06] fanf commented on #338
Thanks, it works.

[2016-09-14 02:52] tpolecat commented on #339
Yeah right now you need to implement a new `Transactor` that overrides `before`.

[code]

[2016-09-14 02:55] tpolecat commented on #339
Actually I don't know what's going on because all provided transactors turn auto-commit off. Does Presto not support transactions?

[2016-09-14 03:00] tpolecat commented on #339
Hey @adelbertc can you paste your hive transactor here? I think it's probably a similar situation since Presto looks like another janky hadoop thing.

[2016-09-14 05:40] adelbertc commented on #339
Here ya go:

[code]

[2016-09-14 08:44] tpolecat commented on #339
Thanks @adelbertc … @janua can you give that a try? It's a transactor for databases that don't support transactions. Savor the irony.

[2016-09-14 10:04] janua commented on #339
@tpolecat Yes I thought it was a bit strange considering the provided transactor turns auto-commit off by default.

I ended up with something similar to the `HiveTransactor` above, but now have a different issue that I don't think is related to `doobie`;

[code]

This is a problem with the Presto JDBC driver not supporting prepared statements, and is meant to be fixed in `0.153` which will imminen

[2016-09-14 10:23] tpolecat commented on #339
Ok, it sounds like Presto has a really really minimal driver. So you may need to use a lower-level API. If you can provide an example that works with raw JDBC I can show you how to do it with doobie.

[2016-09-14 10:44] janua commented on #339
I'll wait for the official release of `0.153` to be sure I haven't missed something when I built it locally with maven, then I'll provide a JDBC example. Thanks!

[2016-09-14 10:50] tpolecat commented on #339
👍  I'm going to close this for now but you can re-open when you're ready to continue.

[2016-09-14 10:50] #339 closed

[2016-09-17 01:09] fanf opened #340 "Missing Query0 builder for pure string query without param"
Sometime, especially when porting historical code from JDBC, it would be handy to have a Query0[A] that allows to build a query without parameter from a pure String.

In the meantime, one could add:
[code]

[2016-09-22 06:07] oyvindae opened #342 "Unit testing with mocks"
I'm trying to figure out how to write unit tests with mocks.

Example:

[code]

I want to write unit tests without actually using a database here. Is there a clever way to achieve this? There was nothing obvious I could find that would help me

[2016-09-22 23:51] tpolecat commented on #342
Ok if you're just trying to extract a constant value that you have constructed via `FC.delay(e)` or simply `e.point[ConnectionIO]` we can use secret knowledge that the connection is never used.

[code]

Rather than passing `null` you might as well use a `java.sql.Connection` stub since you're already mocking.

Does this help?

[2016-09-23 00:24] oyvindae commented on #342
This is exactly what I was after, thanks a lot!!!!!

[2016-09-23 00:45] #342 closed

[2016-09-24 16:23] tpolecat opened #348 "add a CONTRIBUTORS.md"

[2016-09-24 16:23] tpolecat commented on #306
Closing; opened #348

[2016-09-24 16:23] #306 closed

[2016-09-24 17:17] #340 closed

[2016-09-24 17:51] tpolecat commented on #334
This can be done, but you lose compile-time checking of queries (which is something I'm hoping to add for 0.4). So I'm looking at maybe picking up @Jacoby6000's [scoobie](https://github.com/Jacoby6000/scoobie) AST for cases where you want to construct SQL piecewise. The existing scoobie DSL isn't quite what I want but I think it may not be too far off. In any case it would be nice to have a "dynam

[2016-09-24 19:40] fanf commented on #334
Being able to build queries by piece would be much, much better (even if
doesn't obliviate the aliasing need, it could supersede it). I don't really
need a dsl, I'm happy writing SQL, but perhaps it's needed to actually
separate the piece.

Le 24 sept. 2016 7:51 PM, "Rob Norris" <notifications@github.com> a écrit :

[2016-09-24 19:43] Jacoby6000 commented on #334
@tpolecat the scoobie AST is completely independent of the DSL, so you should be able to do what you want with the AST. That said, if there are any changes to any piece of Scoobie you'd like to see, I'm willing to make them.

[2016-09-26 03:35] tpolecat opened #350 "scalatest support"
wip on #331

[2016-10-03 12:43] mycaule opened #355 "Example of delete request with DriverManagerTransactor"
From the doobie tutorial I understood how to do `select` request. How do I `perform` delete request and properly connect the transaction to the drivermanager like in the code sample below?

[code]

[code]

[code]

[2016-10-03 12:55] brianpendleton commented on #355
Hey @mycaule , take a look at the book of doobie chapter on Inserting/Updating:  https://tpolecat.github.io/doobie-0.3.0/07-Updating.html  ... there is an example of dropping a table via the `update` method at the end of the `sql` interpolator.

[2016-10-03 15:13] fanf commented on #355
Just for the record, you can do:
[code]

[2016-10-03 18:21] tpolecat commented on #355
Yeah `.run` gets you to `ConnnectionIO[Int]` and it's all the same from there. I'll try to make the doc clearer. YOLO mode is useful but maybe not what I should use for the examples.

[2016-10-05 02:16] gwils opened #357 "Please make Postgis optional"
Currently anyone wanting to use Postgres with doobie must also have Postgis dependencies pulled in, even if they aren't going to use Postgis. I would prefer not to have a dependency on Postgis since it is LGPL.
Having even a transitive LGPL dependency makes it harder or even impossible for me to convince the powers that be to use doobie in a particular project I'm working on. There are probably ot

[2016-10-07 22:27] tpolecat opened #362 "CI doesn't seem to be building tut doc"
Hey @guersam could you take a look at this? Here is a [recent build](https://travis-ci.org/tpolecat/doobie/jobs/165525653) that claims to be building docs, but there's nothing in the transcript to indicate that this is happening. The log message appears but everything after the `&&` [here](https://github.com/tpolecat/doobie/blob/series/0.3.x/project/travis-build.sh#L16-L19) looks like it's ignored

[2016-10-07 22:41] tpolecat commented on #362
Yeah I just checked and tut fails on the `series/0.3.x` tip.

[2016-10-09 07:34] guersam commented on #362
yeah it's weird... I'll look into this.

[2016-10-11 15:34] fanf opened #364 "Document how to exec "vacuum" or other special command out of transaction"
In some cases, we want to disable transaction management, for example to execute "vaccuum" on postgresql.

It can be done with the following command:

[code]

This is not a  problem for other transaction, the semantic being (as eplained by @tpolecat):

That information should be documented in the Book of Doobie, most likely in the FAQ.

[2016-10-11 15:49] tpolecat commented on #364
👍

[2016-10-12 12:34] jto commented on #200
@tpolecat are you still looking for a way to derive this ?
I came up with a piece of code doing it, should I open a PR ?

[2016-10-12 18:36] tpolecat commented on #200
@jto yeah go ahead, we can talk about it. I don't think it can be done generically but maybe for some cases you can do it.

[2016-10-12 19:17] onurzdg opened #365 "Unable to persist optional enum fields using contrib-postgres"
It is not possible to persist optional enum fields using pgEnumString from doobie.contrib.postgresql. However, I found that the "pgOptEnumString" method below works.

[code]

[2016-10-12 20:01] jto commented on #200
Do you have a particular example for which it would not be possible in mind ?

[2016-10-13 13:11] peterneyens commented on #282
@tpolecat I looked into your [suggestion](https://gitter.im/tpolecat/doobie?at=57f173f8d38f186520bbbe1c) to @raulraja of using `transK` to get transactions when combining Free algebras where some of them can be interpreted to `ConnectionIO`.

I created a [proof of concept](https://github.com/peterneyens/freedoobie) (using the _doobie-core-cats_ snapshot). In short there are 2 interpreters for 2 AD

[2016-10-15 12:32] zainab-ali opened #367 "Doobie stickers do not compile with other typelevel stickers"
All other stickers of type `Hex` are such that the operation `hex1.tessellate(hex2)` is still lawful.

This is the most urgent issue currently blocking doobie from being a commercial library. Please fix.

[2016-10-15 14:02] tpolecat commented on #367
Corners are a free parameter. Everyone else failed to abstract.

![image](https://cloud.githubusercontent.com/assets/1200131/19410606/2848abdc-92a5-11e6-8772-334d06b86586.png)

[2016-10-15 18:02] tpolecat opened #369 "Sort out MTL and FS2 adapter shit for cats"
See issues raised in #363.

[2016-10-15 18:35] #350 closed

[2016-10-15 18:49] tpolecat opened #370 "Update doc for scalatest"
Need to mention scalatest support in the doc/readme.

[2016-10-17 19:52] ayersb opened #371 "Is there a way to get typed results for arbitrary SQL queries?"
My team has a somewhat odd use case for Doobie, and we’re wondering if there is a way to use metadata to apply type information over untyped objects obtained from a JDBC ResultSet at runtime? My team’s using Doobie as part of the back end for a cloud based SQL workbench like application, so we need to be able to handle arbitrary SQL queries submitted by users. We’ve used the low level API to submi

[2016-10-19 04:30] tpolecat commented on #371
I'm curious, where would you write the line of code

[code]
because If you know at compile-time that you're expecting rows of `(Int, String)` then you could just use the existing machinery. So I think possibly this isn't really what you need to do?

In general you *can* take the information you have and use it to render a table for instance, since you can say ok the first thing (which is an `Any`)

[2016-10-19 04:35] #362 closed

[2016-10-27 15:25] iniyanp opened #374 "Getting Gosub() while using doobie with an existing interpreter."
[Third.scala.txt](https://github.com/tpolecat/doobie/files/556308/Third.scala.txt)

**Edit:** I inlined this for you. - r

[code]

[2016-10-28 12:41] tpolecat commented on #374
This is very confusing because you're introducing a type alias called `Free` that shadows `scalaz.Free`, and introducing a type parameter `Task` that shadows `scalaz.concurrent.Task`. I suggest strongly that you not do this.

`DB.selectData()` has type `DB.Free[Process[DB.Free,A]]` and when you run it you get a  `Task[Process[DB.Free,A]]` which you `.run`, giving you a `Process[DB.Free,A]` and `ru

[2016-10-29 09:38] fanf opened #375 "Safer, more typed queries - with table description ?"
I'm opening the ticket to track ideas and advancement about how to make queries more typesafe.

The general feedback on Doobie is "it's awesome, but I would love to get some sureness about the type of columns or argument I'm giving".

We don't exactly know what could be done.

The first level of ideas is to have a way to check at compile time that the number of row returned matches the number of t

[2016-10-29 11:49] tpolecat commented on #375
What I'm working on is something like what we have now, but all checked at compile-time. I'll see if I can make it public this weekend so you can see it.

[2016-10-29 12:16] tpolecat commented on #375
Here is the [wip repo](https://github.com/tpolecat/doobie-tsql) … I will add more examples and stuff today. I have a long flight.

[2016-10-29 18:27] coniurare commented on #375
Nice, wondered recently why doobie didn't have something like that after seeing the tsql macro in Slicks documentation.

[2016-10-31 23:11] fanf commented on #375
I have one major wondering with that proposition: does it means that *anytime* we want to compile code with tsql, we need to have the correct DB set-up and running? Or will it be possible to somehow give a fake/mock schema in place of the real one, or somehow disable the check (not sure how it would works if db infered types are used in the inference)?

The reason for this question is that we are

[2016-10-31 23:42] KadekM commented on #375
Also to add to @fanf point (just noting for completnes, I haven't formed opinion yet), they would need to run database migrations on the database the compiler is hitting.

[2016-11-01 17:57] tpolecat commented on #375
Yeah I was thinking it could write a cache file that you commit to source control, then it would use that as a fallback if the database isn't available.

[2016-11-01 17:59] tpolecat commented on #375
But I should note that your schema and migrations should be committed as source as well, and setting up Postgres on Travis at least is trivial.

Migrations just need to run before compilation, which is easy to arrange.

[2016-11-01 18:37] KadekM commented on #375
Yep I dont see it as a big deal. I would most likely push for this in our
infrastructure...benefits are too big : )

On Wed, Nov 2, 2016, 06:59 Rob Norris <notifications@github.com> wrote:

[2016-11-01 23:03] gatorcse opened #378 "IOLite has no Applicative instance for Cats"
As discussed on the Gitter channel, it appears that IOLite has no applicative right now.

[2016-11-01 23:04] tpolecat commented on #378
(for cats … it needs a `Monad` instance.)

[2016-11-02 01:10] iniyanp commented on #374
What I am trying to do is,  I am getting Process[Task,Option[String]] from val result = selectQ[Option[String]](stmt).

I would like to convert this to my own Algebra which is Process[DB.Free, Option[String]]. There was a method in

 private val wrap: Task ~> Free = new (Task ~> Free) {
    def apply[A](t: Task[A]): Free[A] = eval(t, TaskCoincidence)
  }
which does that. But when I run that throug

[2016-11-02 03:30] guersam commented on #378
As `IOLite` has instances for `fs2.util.{ Catchable, Suspendable }` which are fs2 monads, cats monad can be derived via [`import fs2.interop.cats._`](https://github.com/functional-streams-for-scala/fs2-cats).

[2016-11-02 08:21] fanf commented on #375
The cache (committed in source control) would be perfect.

And of course the schema is in source control, but I want to make
potentially interest people the simplest possible built experience. An
opt-in solution, where people dealing with DB stuff and our
CI-with-long-tests can have fully validated queries but where other groups
don't even know that the thing exists would be the best of both world

[2016-11-02 08:54] guersam commented on #378
The actual problem is #369. For example:
[code]

[2016-11-02 13:02] guersam commented on #378
Oops, cats doesn't provide `replicateA` syntax at all. `fs2-cats` just works in this case.

[code]

[2016-11-02 19:47] tpolecat commented on #378
Ok I think this isn't a bug.

[2016-11-02 19:47] #378 closed

[2016-11-04 04:55] #357 closed

[2016-11-08 19:33] iniyanp opened #381 "Termination End Exception"
Basically, From doobie I am getting a result of Type Process[Task, String] , then am converting into my monad. which is DB and then lifting it into Task. so the resultant type from my interpreter is

Task[Process[DB.Free, String]]

and in my DSL, I am calling that interpreter. and trying to do runLast on Process[DB.Free, String].

That time I am facing Termination END exception.

whereas If I repl

[2016-11-08 19:42] tpolecat commented on #381
Can you minimize this at all? It's a lot of stuff to wade through.

[2016-11-08 19:47] iniyanp commented on #381
Sure. Let me try

[2016-11-08 19:52] iniyanp commented on #381
I have removed most of the classes that doesn't need to be here. PFA

[DoobieProgram.zip](https://github.com/tpolecat/doobie/files/579223/DoobieProgram.zip)

[2016-11-09 18:11] iniyanp commented on #381
Could you please provide some workaround. I have successfully moved all the other parts of the project into Doobie. Thank you very much for your help.

Thanks,
Iniyan P

[2016-11-10 00:06] tpolecat commented on #381
This code is extremely confusing.

[2016-11-10 00:19] iniyanp commented on #381
@tpolecat DB is My monad, I am converting the results that are coming from Doobie (Type is Process[Task,String] ) into Process[DB.Free, String] since my interpreter methods returns of that type.

In Engine.scala, I am trying to do runLast on Process[DB.Free, String]. That time I am getting Terminated End exception. whereeas If I replace doobie result with
val result = Process eval (Task now "This

[2016-11-10 00:43] tpolecat commented on #381
The problem is that you are not implementing `Catchable[DBIO]` correctly. You need to delegate `.attempt` to the wrapped `Task` inside `Eval`, but you have forgotten that you have a `Task` and have no way of doing this. If you specialize `Eval` to `Task` you can do it, otherwise you need to carry along evidence that it's a `Functor` and `Catchable`. The `Coincidence` thing didn't make sense to me

[2016-11-10 01:20] iniyanp commented on #381
@tpolecat Nice. It works fine. Yes. Instead of generalizing Eval  will have specific to Task. This was an existing code base and I was trying to replace DB operations using Doobie. Since It was working fine for normal Process eval Task.now("Hello") and existing DB operations, I thought Doobie might be causing some issues. Thank you very much for your help.

Thanks,
Iniyan P

[2016-11-10 01:20] #381 closed

[2016-11-16 00:56] ihji opened #383 "executing arbitrary queries"
Hi, is it possible to write a generic function something like below in doobie?

[code]

[2016-11-16 07:16] tpolecat commented on #383
[code]

[2016-11-16 22:53] tpolecat commented on #383
@ihji did this answer your question?

[2016-11-16 23:13] ihji commented on #383
@tpolecat Sure. It helped a lot. Thanks!

[2016-11-16 23:13] #383 closed

[2016-11-17 04:52] tpolecat commented on #375
If you want to try this out the project is [doobie-tsql](https://github.com/tpolecat/doobie-tsql) and there is 0.1-SNAPSHOT that works with 0.3.0 for 2.11 (only).

[2016-11-17 06:00] tpolecat commented on #374
I think we figured this out on another thread.

[2016-11-17 06:00] #374 closed

[2016-11-17 06:05] tpolecat commented on #371
Closing this. Feel free to re-open if you want to continue discussing.

[2016-11-17 06:05] #371 closed

[2016-11-17 06:08] #275 closed

[2016-11-17 06:10] #276 closed

[2016-11-17 06:11] #264 closed

[2016-11-17 06:12] #256 closed

[2016-11-17 06:13] tpolecat commented on #255
(fixed a while back)

[2016-11-17 06:13] #255 closed

[2016-11-17 06:15] tpolecat commented on #260
(fixed a while back)

[2016-11-17 06:15] #260 closed

[2016-11-17 06:19] tpolecat commented on #246
I'm closing this because there is nothing obvious to be done. Miles is working on a general solution that may show up in 2.12.1

[2016-11-17 06:19] #246 closed

[2016-11-17 07:02] #223 closed

[2016-11-17 07:04] tpolecat commented on #221
We're up to 1211 at this point so I'm closing this.

[2016-11-17 07:04] #221 closed

[2016-11-17 07:04] #212 closed

[2016-11-17 07:05] tpolecat commented on #205
See also #364

[2016-11-17 07:07] #203 closed

[2016-11-17 07:08] #186 closed

[2016-11-17 07:08] tpolecat commented on #178
This is going away with the tsql API so I'm closing this.

[2016-11-17 07:08] #178 closed

[2016-11-17 07:09] #174 closed

[2016-11-17 07:09] #175 closed

[2016-11-17 18:41] iniyanp commented on #374
Yes. Thanks for your help. :)

[2016-11-18 06:00] #335 closed

[2016-11-21 21:35] lucidd opened #385 "cats/fs2 version of specs2 module does not get published."
For some reason there is no cats/fs2 version of the specs2 module published on [maven central](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.tpolecat%22%20specs2).

[2016-11-25 18:45] coltfred opened #386 "Giving thanks for Doobie!"
I know I'm a day late, but I just wanted to let @tpolecat know how thankful I am for Doobie! This library is awesome, your help is awesome and you're awesome! Thanks for all you do Rob!

[2016-11-26 19:47] leifwickland commented on #386
Thanks for all you do, @tpolecat! You're a freakin' one man army of awesome making the world a purer place.

[2016-11-26 20:18] KadekM commented on #386
Thank you @tpolecat , doobie is awesome, and your attitude towards newcomers (to FP) is unmatched 👍

[2016-11-26 22:56] chrisphelps commented on #386
I have not used doobie, but I've heard you speak on it a couple times. So, thanks for making something that helped me to learn stuff!

[2016-11-27 02:50] tpolecat commented on #386
Thanks everyone! I and the doobie contributors really appreciate your encouragement. Great things on the way!

[2016-11-27 02:50] #386 closed

[2016-11-29 05:44] #369 closed

[2016-11-29 05:51] #385 closed

[2016-11-29 12:31] xavier-fernandez commented on #386
Thank you for Doobie!

:)

[2016-11-30 16:09] dwunsch opened #389 "plain query/process on postgres leads to OOME"
in doobie 0.3

nothing fancy, just a simple
[code]

[2016-11-30 16:26] dwunsch commented on #389
seems to be fixed with 0.3.1-SNAPSHOT

[2016-11-30 16:26] #389 closed

[2016-11-30 23:34] dwunsch opened #390 "improve performance of finding out the caller of an sql interpolator"
https://github.com/tpolecat/doobie/blob/f94736c15bd1764f324ea74e85967562f609ed8d/yax/core/src/main/scala/doobie/syntax/string.scala#L19

seems to waste about 15% of my cpu cycles in a massive-insert scenario.

making it lazy could help, but using a source location macro would be more elegant and event faster.

[2016-11-30 23:43] dwunsch commented on #390
something like this should work:
https://github.com/ritschwumm/scutil/blob/25211a212519d8d07e1dc3b86ab2620c7f4a9528/sub/base/src/main/scala/scutil/lang/SourceLocation.scala

[2016-11-30 23:43] tpolecat commented on #390
Cool I'll give that a try. Thanks!

[2016-12-01 06:02] #292 closed

[2016-12-01 06:50] #390 closed

[2016-12-01 12:33] randm-ch opened #393 "Missing specs2 scalaz package on Maven central?"
`doobie-contrib-specs2` version `0.3.1-M2` has a compile time dependency to `doobie-core-cats` (see https://mvnrepository.com/artifact/org.tpolecat/doobie-contrib-specs2_2.12/0.3.1-M2). When I run my test (which contains a `check` statement) I get this error:

    Could not run test ch.randm.music4s.persistence.DoobieSpec: java.lang.NoSuchMethodError: doobie.util.update$Update0.analysis()Lcats/fre

[2016-12-01 18:29] tpolecat commented on #393
Hi @randm-ch yes, there was an issue with the specs2 artifacts that should be sorted now. If you try `0.3.1-SNAPSHOT` I think you'll be in business. I will release a new milestone today probably.

Note the section in the README.md on changes to the artifact/package names in the dev releases.

Let me know how it goes.

[2016-12-02 09:17] dwunsch opened #394 "more memleak woes"
i'm trying to stream inserts into a postgres db, and quickly running out of memory.

what i am doing:
i have one task writing into a ```scalaz.stream.async.boundedQueue```, ```queue.dequeue``` is mapped to ```Update0``` values for an INSERT, chunked by 10000 and fed into postgres like this:
[code]

in a heap dump i see millions of ```meta$Meta$$anon$1``` instances and the same amount of
```meta$Me

[2016-12-02 11:00] dwunsch commented on #394
hah, got it: ```sql""``` contained ```${foo}``` for some ```case class Foo(x:String)``` _without_ a custom ```Meta```. somehow doobie conjured a Meta for this and called ```Meta#reg``` with it a lot of times. it seems this ```Meta``` instance does not have a useful ```equals``` method so https://github.com/tpolecat/doobie/blob/series/0.3.x/yax/core/src/main/scala/doobie/util/meta.scala#L179 filled

[2016-12-02 17:42] tpolecat commented on #394
Aha, ok that makes sense. I need to fix that. That's the only side-effect in all of doobie and I knew it would end up being a problem at some point. Thanks so much for tracking it down.

[2016-12-03 09:08] japgolly opened #395 "Can't build own Transactor outside of doobie"
Hi! Reading through the Book of Doobie, it says:

but this is impossible because nearly everything in `doobie.util.transactor.Transactor` has `protected[doobie]`.

[2016-12-03 09:29] japgolly commented on #395
Cancel that, I'm an idiot, when overriding you can weaken permissions, there's no issue here. 🙄

[2016-12-03 09:29] #395 closed

[2016-12-04 01:31] japgolly opened #396 "Meta[Char] instance missing"
Is this intentional or an oversight?

[2016-12-04 04:40] tpolecat commented on #396
There is no JDBC mapping for Java `char`. You could define a mapping from SQL `CHAR(1)` or a vendor-specific unsigned short but there's nothing built in. What is the underlying column type you wish to map?

[2016-12-04 05:43] japgolly commented on #396
The underlying column type I have is `"char"` in Postgres (those quotes are needed btw).

If there's a built-in mapping for `varchar↔String`, so I was thinking there should be one for `char↔char` too so as it's a subset on both sides.

[2016-12-04 06:15] tpolecat commented on #396
Ok, the `"char"` type in Postgres is a single byte so it's not really a `Char` … you could define a mapping for a custom data type, or a partial mapping that only works for chars < 256. The built-in `Byte` mapping doesn't work because the driver expects character data. The driver treats it like `CHAR(1)` but values outside the 1-byte range get smashed to 0xFFFD when you read them back. Not sure ho

[2016-12-04 06:47] japgolly commented on #396
I tried using `Byte` ran into a driver runtime exception so I ended up just going via `String` like your example. Oh well, thanks anyway and thank you for the explanation and advice. I'm good to close this issue if you are.

[2016-12-04 06:48] tpolecat commented on #396
Cool, feel free to reopen if you run into trouble.

[2016-12-04 06:48] #396 closed

[2016-12-05 10:29] randm-ch commented on #393
Thanks, it works with `0.3.1-SNAPSHOT` 👍

    [info] DoobieSpec
    [info]
    [info] The Doobie Hikari transactor should
    [info]   be able to set up a table
    [info]     Update0 defined at ArtistRepository.scala:16
    [info]
    [info]       CREATE TABLE artist (
    [info]       id        SERIAL,
    [info]       name      VARCHAR NOT NULL,
    [info]       biography VARCHAR
    [info]

[2016-12-05 10:29] #393 closed

[2016-12-06 03:07] tpolecat commented on #394
This is due to an temporary hack from cats integration that never got implemented correctly. https://github.com/tpolecat/doobie/commit/6c7a6eb22c99ecef8d66858d8577d88ee8be19f3#diff-cac5ac4d03df16e8fa1722d0ce7f748cL155

[2016-12-06 05:14] tpolecat opened #399 "New Interpreter Design"
Consider a new interpreter design that uses a visitor-like pattern for efficiency and encodes the embedding constraints differently to make it possible for others to write alternative interpreters. Sketch below.

[code]

[2016-12-06 05:46] #394 closed

[2016-12-06 15:30] kantefier opened #401 "Query check fail for Oracle"
Every query check for Oracle results in such failure. I suspect that ordinal 104 is RowID according to [this (see Table 3-2 "External Data Types and Codes")](https://docs.oracle.com/cd/E11882_01/appdev.112/e10646/oci03typ.htm#LNOCI16271)

[2016-12-08 07:21] #205 closed

[2016-12-08 07:21] #338 closed

[2016-12-08 07:21] #364 closed

[2016-12-08 09:17] tpolecat opened #405 "get scalastyle working"
It turns out scalastyle hasn't been working since the yax change because it doesn't look in `managedSourceDirectories`, but the obvious fix doesn't work. Adding

    scalastyleSources := (managedSourceDirectories in Compile).value

to `commonSettings` doesn't work. I have no idea why … it works if you do it using `set` at the sbt prompt.

[2016-12-08 15:25] cranst0n opened #406 "Scalatest output"
[This](https://github.com/tpolecat/doobie/blob/39804b154ee4958e1c4e191c00f1c41e21290606/yax/scalatest/src/main/scala/doobie/scalatest/QueryChecker.scala#L78) seems like a bug where no output is printed on a successful test.

I've modified it in my own project to this which seems to work:
[code]

[2016-12-08 15:47] cranst0n opened #407 "NoSuchMethodError using ScalaTest module"
Using 0.3.1-M3 `doobie-core-cats`, and `doobie-scalatest` for my unit tests:
[code]

[2016-12-09 09:35] tpolecat commented on #406
Yeah I wonder if I should change the specs2 one to be silent on success. It is kind of noisy.

[2016-12-09 09:57] tpolecat commented on #407
Oh, try it with `doobie-scalatest-cats`.

[2016-12-09 16:17] cranst0n commented on #407
Doh! Guess I yaxxed that one up pretty good.

[2016-12-09 16:17] #407 closed

[2016-12-09 16:22] cranst0n commented on #406
Personal preference I guess but I think no output is confusing.

At a minimum I would like to see the output of the [success](https://github.com/tpolecat/doobie/blob/39804b154ee4958e1c4e191c00f1c41e21290606/yax/scalatest/src/main/scala/doobie/scalatest/QueryChecker.scala#L125) function from a good test. I don't think I'd miss the column/parameter descriptions on a passing test but other people may

[2016-12-09 17:06] tpolecat commented on #407
Well I set up a test project to see if I could reproduce it so I didn't notice either ;-)

[2016-12-12 00:20] tpolecat opened #408 "Revive the Quill front end"
The doobie-quill project doesn't work anymore because Quill's internals have changed significantly, but it would be nice to get it working again.

[2016-12-12 06:24] tpolecat commented on #406
You can pull the PR above if you want to see how it looks after my tweaks. There were a few issues. I can't seen an obvious way to do output on success so I'm actually not fixing this particular issue this time around … the Specs2 mixin turns each check into a set of testcases, each of which has independent success/failure and it's all reported in a nice way, but the ScalaTest mixin does each chec

[2016-12-12 14:19] cranst0n commented on #406
Gotcha. I've got my own variation for the time being that just uses a `println` in the success case so I can sleep at night.

I'm full up right now but if I can find time, and you're interested, I can try to come up with something like you're describing based on the specs2 implementation for a PR.

[2016-12-13 08:50] eikek opened #410 "doobie artefacts contain doobie-core"
Hello,
I use the following dependencies:
[code]
and these are fetched from maven central and all three are more than 4M
[code]
I looked into the jar files and all seem to contain doobie-core. Is this intended or should I maybe use different library imports?

Thanks a lot for doobie!!
Regards,
Eike

[2016-12-13 17:42] Daenyth opened #411 "How can I set postgres schema search path for a connection?"
I'm trying to run a postgres query with a modified search_path. I'd like it to be set once on my transactor and then apply to all queries in a connection. Barring that, if I can do something with minimal boilerplate like `sql"""foo""".query[A].withSchema("abc")` that would be reasonable

[2016-12-14 13:24] zarthross opened #412 "Doobie 0.3.0 build for Scala 2.12.0 or Scala.12.1"
Can we get a official build out for Scala 2.12?  I've only located artifacts for 2.12.0-M3 out on maven.  I know Doobie 0.3.1 already has M3 builds out, but I would rather wait until its ready to start using it for my projects and doobie is my only dependency holding me back on 2.11.

[2016-12-14 14:00] Daenyth opened #413 "Redundant wording in `.check`"
I have a query that selects a nullable postgres `NUMERIC` into a `Float`. I get this when I `.check` it:

[code]

Specifically, `to Option[BigDecimal] or Option[BigDecimal].`

[2016-12-14 19:47] tpolecat commented on #413
Yeah the formatting strips off the package prefix … that's actually `scala.math.BigDecimal` and `java.math.BigDecimal` but you can't tell the difference. Thanks for reporting.

[2016-12-14 19:51] tpolecat commented on #410
Thanks for reporting this. I'll investigate.

[2016-12-14 19:54] tpolecat commented on #412
Just release 0.3.0a for 2.12 … give it a try. May take a short while to appear.

[2016-12-14 22:35] Daenyth opened #414 "Allow fragments.whereAndOpt to compose with non-optional filters too"
I have a query like this:
[code]

This generates an invalid query with `WHERE a = ? WHERE b = ?`

It seems like my two options are to do:
[code]

Is there a better way? What about this?

[code]

[2016-12-14 22:55] tpolecat commented on #414
I think I would do it this way. `Fragment` is a monoid so you can use `foldMap` here.

[code]

[2016-12-15 14:36] zarthross commented on #412
Works great!  Thank you!

[2016-12-15 14:36] #412 closed

[2016-12-16 17:05] Daenyth opened #416 "Allow composing Fragment ++ query0"
I'd like to take a `Query0` object and embed it inside another query, for example:

[code]

Or some kind of combinator like above; perhaps `sql"SELECT count(*) FROM" ++ fragments.subquery("sub", myQ)` or if possible, `sql"SELECT count(*) FROM (${embed(myQ)}) sub"`

[2016-12-20 07:04] tpolecat commented on #414
Closing, feel free to re-open if this didn't answer your question.

[2016-12-20 07:04] #414 closed

[2016-12-20 07:04] #416 closed

[2016-12-20 13:12] Daenyth commented on #414
Your approach is reasonable. Adding a combinator just for this wouldn't be
any more readable than that

On Tue, Dec 20, 2016, 2:04 AM Rob Norris <notifications@github.com> wrote:

[2016-12-26 02:28] tpolecat commented on #410
Confirmed, no idea why this is happening.

[2016-12-27 23:47] japgolly opened #418 "Sources jars for 0.3.1-M3 are empty"
See http://repo1.maven.org/maven2/org/tpolecat/doobie-core_2.11/0.3.1-M3/

[2016-12-27 23:47] japgolly commented on #418
Same for M1 and M2.

[2016-12-27 23:48] tpolecat commented on #418
Thanks, this is probably because all the source ends up in `src_managed` and it doesn't get picked up by default. I'll see if I can fix it.

[2016-12-28 17:01] marcintustin opened #419 "Support hstore type in Postgres"
This is a built in type: https://www.postgresql.org/docs/9.2/static/hstore.html

It represents a map of string => string (values are nullable).

Currently, doobie won't map any values to a hstore column:

[code]

[2016-12-28 17:06] vi-p4f opened #420 "Support query timeout"
Please add a way to specify query timeout on statement object.

[2016-12-28 19:29] fiadliel commented on #410
The JAR files seem to have the correct contents with `sbt package`, but not after running `sbt publishLocal`. Also, `sbt publishLocal` has the correct contents if the OSGI plugin is removed. Definitely time for something over one's head :)

[2016-12-28 19:31] tpolecat commented on #410
Aha, that's a very good clue. Thanks for figuring that out!

[2016-12-30 02:07] japgolly opened #421 "Add option to disable auto-transactions"
Hi. Doobie is pretty cool but something I find frustrating about it is that the transactors wrap entire `ConnectionIO`s in transactions. Personally I'd much prefer an option to disable this usage assumption and then manage transactions directly on ConnectionIO instances.

For example, using this:
[code]

I find it more expressive for my needs to write:
[code]

In order to workaround the library no

[2016-12-30 02:11] japgolly commented on #421
Also, I tried to override trans like this:

[code]
for increased efficiency but Scala doesn't allow overriding inner objects. If you could open this up a bit that would be awesome. Or actually I can submit a PR if you like?

[2017-01-01 17:43] xavier-fernandez commented on #180
I am actually working on a few projects with Slick and Android, using the following JDBC from 47deg: https://github.com/47deg/mvessel/

Maybe it would be interesting to revisiting this ticket :)

[2017-01-01 18:07] wpoosanguansit commented on #180
+1

[2017-01-01 21:42] tpolecat commented on #180
@xavier-fernandez I don't have an android device so I have no way to work on this but if you're like to give a try please do!

[2017-01-02 08:48] xavier-fernandez commented on #180
@tpolecat I will be very busy till the 20th of January, I will try it then 👍

Thank you a lot for your work :)

[2017-01-03 22:27] #418 closed

[2017-01-03 23:31] #410 closed

[2017-01-03 23:49] tpolecat commented on #421
So, yeah `Transactor` is kind of a bogus abstraction, but the whole point is to add transaction semantics. If that's not what you want then you might want to create your own thing like `trait Connector[M[_]]` with none of the transaction stuff and pimp `.connect(c)` onto `ConnectionIO` and `Process[ConnectionIO`.

[2017-01-04 03:54] #279 closed

[2017-01-04 06:53] tpolecat commented on #399
Wow I'm glad I wrote that down. I don't think I could come up with that again.

[2017-01-06 05:38] tscholak opened #426 "Stack overflow with `Fragments`"
Hi, I'm working with the new `Fragments`, and I found a problem with the following code:

[code]
This throws the following exception:
[code]
I wonder if this can be resolved without limiting the length of `ids`.

[2017-01-06 05:53] tpolecat commented on #426
Hmm you're constructing a statement with 10,000 placeholders … I'm slightly curious whether the driver and database could deal with it. In real life it would probably be more efficient to insert those values into a temporary table and join with it.

I'll take a look and see if there's an easy resolution but I'm inclined to treat this as a pathological case.

[2017-01-06 12:42] tscholak commented on #426
Hm yeah, it has a pathological smell, doesn't it. I will probably have to batch `ids`, although preliminary testing showed that the java Postgres driver can handle at least 5000 placeholders.

[2017-01-06 13:20] tscholak commented on #426
Batching would look like this:
[code]

And (implicitly) using a join on a temporary table would look like this:
[code]
(cf. the stack overflow question linked above)

The latter solves the inefficiency of the query, but still throws.
The former solves both issues, but requires explicit batching.

[2017-01-08 19:05] #370 closed

[2017-01-08 20:00] #322 closed

[2017-01-10 00:07] tpolecat commented on #365
Finally looking at this and I don't quite get it. How does this permit you to write `None`?

[2017-01-10 00:41] #355 closed

[2017-01-10 01:14] #303 closed

[2017-01-16 22:05] adelbertc opened #435 "Cats 0.9.0"
Should this be in 0.3.x or 0.4.x ?

[2017-01-16 22:08] tpolecat commented on #435
0.4.x

[2017-01-17 14:08] dvic commented on #206
I have made available a repo that demonstrates the problem: https://github.com/dvic/intellij-interpolator-issue. I have also submitted a new issue: https://youtrack.jetbrains.com/issue/SCL-11258.

[2017-01-19 06:09] kylinsoong commented on #339
`presto-jdbc-0.162` also not support transaction, If looks from the PrestoConnection
[code]
The above codes hints don't allow to set `autoCommit` to false, else *SQLFeatureNotSupportedException* throw.

[code]

`getAutoCommit()` always return *true*, that means `SQLException("Connection is in auto-commit mode")` will always throw if you invoke a commit().

[2017-01-20 11:54] albertpastrana opened #440 "Can't find dependency org.tpolecat#doobie-postgresql-cats_2.11;0.4.x"
Hi!

Today I wanted to try and update doobie and start using the cats version of it and I found a problem, as sbt couldn't find the artefact..

Find below a simple sbt file that doesn't work:

[code]

I've tried both `0.4.0` and `0.4.1` and I get the same in both cases, sbt can retrieve `core` and `hikari` but can't find the postgres one. Find below the output:
[code]

Thanks a lot for your answer

[2017-01-20 11:57] KadekM commented on #440
Its `postgres` :) (used to be postgresql)

https://mvnrepository.com/artifact/org.tpolecat/doobie-postgres-cats_2.11/0.4.0

[2017-01-20 11:59] albertpastrana commented on #440
ops, thanks a lot @KadekM !
I moved from the 0.3.1 `contrib-postgresql` and manually modified it. I should have copied&pasted from the readme :-D

[2017-01-20 11:59] #440 closed

[2017-01-21 00:37] tpolecat opened #441 "straighten out core imports and aliases"
All the module aliases and weird imports in core are irritating. Straighten them out.

[2017-01-21 18:57] tpolecat opened #443 "Query.executeQuery doesn't explicitly close resultset"
Query timing logic introduced this problem, which isn't a huge deal but it will cause the cursor to be held open until the connection is closed. Would like to merge #442 first, which will allow us to write a test for this.

[code]
should be

[code]

[2017-01-21 18:58] tpolecat commented on #443
Worth noting that #442 will enable structured logging which will make simple logging unnecessary.

[2017-01-22 05:09] #435 closed

[2017-01-23 23:08] ihji opened #447 ".attempt is not working with *-cats variants"
`.attempt` is not working without `import fs2.interop.cats._` when you use 0.4 version of *-cats variants. However, it works without `import` in 0.3 cats milestone. It would be nice if we have a note about this in FAQ.

[2017-01-24 19:54] guersam commented on #447
doobie had its own `Catchable` for cats until [dropped in favor of `fs2.util.Catchable`](https://github.com/tpolecat/doobie/commit/849142f669c93d6824a93f0fc6e023ffe0152c13). I usually add `import fs2.interop.cats._` to every file using doobie but it gets annoying sometimes.

Just random thought; what if we make `doobie.imports` extends `fs2.interop.cats.Instances`? But then 1) we might suffer from

[2017-01-24 20:22] tpolecat commented on #447
Yeah I think for now we can tell people they just have to import the interop layer. I'd like to factor out streams and fs2 which will require a third library to provide `Capture/Suspendable` and `Catchable` … I want to see if I can get Michael on board at NEScala.

[2017-01-24 21:14] Daenyth opened #448 "Don't force IOLite usage in scalatest bindings"
Because `QueryChecker` wants a `override def transactor: Transactor[IOLite]`, people not using IOLite in their main code base are forced to change their code to use things like `def dbTransactor[M[_]: Monad: Catchable: Capture]: Transactor[M] = ???` in their configuration object, just so that it's usable in both real code and test, whereas I'd rather `def dbTransactor: Transactor[Task]`. This is e

[2017-01-24 21:16] tpolecat commented on #448
Will also need to provide `M[A] => A` since it needs to side-effect to perform actual work.

[2017-01-24 21:18] Daenyth commented on #448
If there's `M ~> Future` then we could use scalatest 3's new async stuff

[2017-01-25 04:13] #399 closed

[2017-01-26 16:33] xavier-fernandez commented on #180
01-26 17:31:11.492 18820-18820/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   Process: org.doobie, PID: 18820
                                                   java.lang.ExceptionInInitializerError
                                                       at doobie.imports$.<init>(imports.scala:90)
                                                       a

[2017-01-26 16:52] xavier-fernandez commented on #180
01-26 17:50:44.670 21645-21645/org.doobie E/AndroidRuntime: FATAL EXCEPTION: main
                                                            Process: org.doobie, PID: 21645
                                                            java.lang.ExceptionInInitializerError
                                                                at doobie.imports$.<init>(imports.scala:90)

[2017-01-26 16:58] xavier-fernandez commented on #180
I did the following POC project: https://github.com/xavier-fernandez/doobie-android-POC

I am not able to fix the problem, but this issue can be solved for sure.
I am pretty sure the error is at the following line: [LINK](https://github.com/xavier-fernandez/doobie-android-POC/blob/master/src/main/scala/org/doobie/view/DatabaseOpenHelper.scala#L16) (Using Slick 'Database.forUrl() is working for me)

[2017-01-26 23:25] pfn commented on #180
does `-keep class scala.Array { **; }` resolve it?

[2017-01-26 23:33] tpolecat commented on #180
Is there a simulator or anything that I could use to look at this? Or do I need a device?

[2017-01-26 23:44] pfn commented on #180
run sbt-android to build the above app, it will automatically install the android sdk to `~/.android/sbt/sdk`

run

* `sbt "android-install system-images;android-21;default;armeabi-v7a"`
* `~/.android/sbt/sdk/tools/android create avd --force -n test -t android-21 --abi x86`
* `~/.android/sbt/sdk/tools/emulator -avd test`

sit and twiddle your thumbs while this all does its thing

[2017-01-26 23:52] tpolecat commented on #180
Awesome, thanks Perry. I'll give it a go this evening. 👍

[2017-01-27 05:26] tpolecat commented on #180
@pfn something isn't working. The install appears to have worked (here I'm re-running it and it's doing nothing) but then it claims `android-21` isn't installed.

[code]

[2017-01-27 05:47] pfn commented on #180
Use android-24 instead of 21, replace 21 in the create and install commands

On Thu, Jan 26, 2017, 9:26 PM Rob Norris <notifications@github.com> wrote:

[2017-01-27 05:49] xavier-fernandez commented on #180
@pfn Thank you a lot, I will check it in a couple of hours :)

[2017-01-27 08:03] xavier-fernandez commented on #180
I added the proguard setting, but I can't test it until this afternoon :(

[2017-01-27 16:21] xavier-fernandez commented on #180
Not working yet :(

Maybe has something to do with proguard settings...

[2017-01-27 16:35] pfn commented on #180
Presumably the error is different.

On Fri, Jan 27, 2017, 8:21 AM Xavier Fernández Salas <
notifications@github.com> wrote:

[2017-01-27 16:37] tpolecat commented on #180
I got an emulator to come up last night but didn't have time to mess with it any more than that.

[2017-01-27 17:48] pfn commented on #180
FYI, progard-sbt.txt is not used by sbt-android, it is generated by intellij.

[2017-01-27 18:02] pfn commented on #180
dunno what `bytes []` is. perhaps it's an annotation signature that needs to be kept (@ScalaSignature?)

[code]

[2017-01-27 18:18] pfn commented on #180
[code]

yay reflection...

this is far as I got before I couldn't figure out this:

[code]

[2017-01-29 08:29] xavier-fernandez commented on #180
@tpolecat @pfn I made both of you POC project colaborators, I can transfer the project if anyone wants to maintain it.

On the other hand, maybe the solution is to 'keep' some doobie classes in Proguard, or change some of its internal reflection mechanisms... :|

[2017-01-29 18:58] tpolecat commented on #180
doobie doesn't do any reflection so I still have no idea what the problem is.

[2017-01-29 19:50] pfn commented on #180
Doobie somehow loads JavaMirror in the util.Meta initialization not sure
why, too lazy to see the generated source (too hard to correlate source
lines by looking at github)

On Sun, Jan 29, 2017, 10:58 AM Rob Norris <notifications@github.com> wrote:

[2017-01-30 05:15] nigredo-tori opened #454 "AnalysisSpec doesn't follow specs2 execution flow"
`check` in `AnalysisSpec` seems to run its queries before it returns, only using the resulting `Fragments` for outputting results. This circumvents specs2 execution flow, meaning that some of its features don't work as expected. For example:

[code]

This fails, since `beforeAll` is executed _after_ the test query:
[code]
An obvious workaround in this particular case is running `beforeAll` explici

[2017-01-30 19:16] tpolecat commented on #454
You could do the setup in your `transactor` definition. I guess this isn't uncommon and should be documented.

[2017-01-30 23:11] tpolecat opened #455 "book to sbt-microsites"
Need to figure out how to deal with the cats/scalaz split but it would be really nice to get the doc off of the tpolecat website because it's a pain in the ass.

[2017-02-04 04:58] #443 closed

[2017-02-04 19:37] tpolecat opened #459 "factor dependencies out of build.sbt"
There is some repetition (like h2) that needs to be removed.

[2017-02-04 23:31] coltfred opened #460 "Create pure only Transactor for testing"
When testing it would often be useful to inject an arbitrary value as the "result of a database call".

Consider the following:

[code]

If you want to test this method you have to have a real transactor. One solution is to instead take `createUserInDb` as a Task[User] and use `Task.point`, which would work, but means "transacting" the ConnectionIO earlier and also makes all the APIs more Task foc

[2017-02-05 03:28] coltfred commented on #460
Something like this was proposed in gitter:
[code]

Then I could pass in a pure value wrapped in a ConnectionIO and the noopXa in a test to "mock". Is this a good idea? Are there better ideas?

[2017-02-05 05:41] tpolecat commented on #460
So, yeah if you have a no-op transactor like above and a `createUserInDb` that just points a user then it will work fine; as long as you don't actually do anything with the connection it can be null.

Of course at this point you're not testing much. Would it work to use an in-memory H2 database or something here?

[2017-02-05 06:17] tpolecat commented on #460
FWIW in the 0.4.2 snapshot you can construct such a thing pretty easily. `Transactor` is now a case class with a `strategy` field for before, after, onError, and finally ops that you can void out; and there is a `Transactor` constructor that just wraps an existing connection.

[code]

[2017-02-06 10:35] unoexperto opened #462 "Different handling of NULL columns of primitive types"
It's not bug per se but more discussion of what to do. I actually had similar issue when I (internally) maintained https://github.com/scalikejdbc/scalikejdbc

Say we have following `Meta`

[code]

If we use this meta when we deserialize class such as `case class Test(pdate: Option[PartialDate])` zero will be passed to `PartialDate.fromInt` for rows with NULL value causing exception (in my case).

[2017-02-06 17:34] tpolecat commented on #462
Yes the problem is that it performs the mapping before doing the null check. I have a new design that doesn't do this but for now we have to work with the existing setup. Note that this is only an issue if the zero value for the primitive type is invalid, as it is in your case, because you have to distinguish null (which is ok) from `0` (which is not) but they look the same from `Meta`'s point of

[2017-02-06 18:12] coltfred commented on #460
@tpolecat Well, it reality it can be quite helpful to be able to just return a pure value for testing to ensure the rest of the business logic in the Http4s route is correct. I can use H2 in plenty of cases, but I cannot use it when the queries have postgres specific features in them.

[2017-02-06 19:02] #460 closed

[2017-02-07 03:51] jinilover opened #463 "doobie-contrib-postgresql, doobie-contrib-specs2 latest versions"
I am using doobie-core 0.4.1 for fragment support.  But the doobie-contrib-postgresql, doobie-contrib-specs2 versions are still 0.3.0.
There seems compatibility issue between doobie-contrib-specs2 and doobie-core.
doobie-contrib-postgresql 0.3 looks fine with doobie-core 0.4.1.  Will there an new release for both of these extensions?
Thanks

[2017-02-07 04:18] tpolecat commented on #463
Hi, see the [release notes for 0.4.0](https://github.com/tpolecat/doobie/blob/series/0.4.x/CHANGELOG.md#0.4.1) … these artifacts and their associated packages have been renamed.

[2017-02-07 04:18] #463 closed

[2017-02-07 19:15] asquassabia1 opened #464 "code will leak connections if using Option or unique and result does not meet expectations"
test("world db setup smoke test (*) (unique, fail)") {
    /*
      WHOOPS!

      org.h2.message.DbException: The connection was not closed by the application and is garbage collected [90018-193]

    	at org.h2.message.DbException.get(DbException.java:179)
	    at org.h2.message.DbException.get(DbException.java:155)
  	  at org.h2.message.DbException.get(DbException.java:144)
  	  at org.h2.jdbc

[2017-02-07 21:31] tpolecat commented on #464
Hm, this should not be possible. Can you paste a full reproduction?

[2017-02-07 22:39] ktonga commented on #460
@coltfred I use a few PG specific features too, such as JSONB fields everywhere so testing against H2 was a PITA. I decided to test all my database related logic against a dockerized Postgres and it works like a charm. I recommend this small testing library https://github.com/whisklabs/docker-it-scala

[2017-02-08 02:49] asquassabia1 commented on #464
Thanks for being so prompt.  Hah.  Yesterday it was reproducing without fail, today I cannot get it to reproduce.  In context, this was one of a suite of tests with a single connection (i.e. not pooled):

def dmTransactor():Transactor[IOLite] = /* doobie */ {
    logger.info("(dmTransactor) =>" + msg)
    DriverManagerTransactor[IOLite](
      driverString, connectionString, user, pwd
    )
  }

[2017-02-08 02:49] #464 closed

[2017-02-08 03:02] tpolecat commented on #464
Hm, curious. An in-memory database with `DB_CLOSE_DELAY=-1` means every connection is going to the same db and it will live for the life of the JVM, so it's possible that through many test runs and failure and racing and so on in your sbt session maybe a connection got leaked somewhere. But doobie shouldn't ever allow that to happen so it's still suspicious. Please let me know if you see it again

[2017-02-09 01:02] tpolecat commented on #462
Leaving open to add as a doc issue.

[2017-02-09 01:05] #330 closed

[2017-02-10 06:17] unoexperto commented on #462
Could you share your ideas on new design please ? Is it partially implemented in some branch already ?

[2017-02-10 06:27] 13h3r opened #465 "Make `ConnectionIO` traversable"
There are some cases when you need to have `ConnectionIO` traversable. Here it is an example from gitter:

[code]

[2017-02-10 13:59] 13h3r commented on #465
I spent some time trying to figure out how we can implement this. I want to try to implement this, but can not find a way to do so.

What was I tried:

1. General `Traverse[ConnectionIO]`.
2. `Traverse[ConnectionIO[Free[S, ?]]]` with `Traverse[S]` constraint.
3. `Traverse[Kleisli[M, Connection, ?]]` with `Traverse[S]` constraint.
4. Specific function to swap `ConnectionIO[PrepareStatementIO]]` whi

[2017-02-10 23:02] tpolecat commented on #465
These types are not traversable; `ConnectionIO[List[A]]` cannot possibly become a `List[ConnectionIO[A]]` because you would need to talk to the database to know how long the list would have to be, for instance.

The problem you're trying to solve (streaming from one database to another) is totally doable but this path is a dead-end. I'll try to make an example this weekend.

[2017-02-13 02:26] 13h3r commented on #465
What is the way you can think this can be done? In case of lack of time to example could you please drop me a line about a direction to implement this :)

[2017-02-13 07:42] tpolecat commented on #465
I think the way to do this is by creating a streams/fs2 `Sink` to perform the inserts on the other database, which provides resource safety so that a failure on either transaction will end up rolling back both. I didn't have a chance to work on it over the weekend, sorry.

[2017-02-13 08:22] 13h3r commented on #465
Thanks! I will try it

[2017-02-13 14:04] 13h3r commented on #465
Tried to implement this with `Sink`. Was confused with effect type of stream. I want to keep both effects outside the stream. This means that I should compose effects form each database into one complex effect type, but looks like it is impossible to build such monad.

I can achieve this by applying transactor in `Sink`'s lifecycle, but I want to push both effects outside the stream.

What effect

[2017-02-14 00:28] armundle opened #466 "Batch updating a huge list causes OOM"
[code]
Above code causes OOM with memory settings: `-Xms512m -Xmx1536m`:

[code]

doobie-* versions:
[code]

[2017-02-14 15:40] armundle commented on #466
This is the current workaround:
[code]

[2017-02-14 17:50] lu4nm3 opened #468 "Allow insertions using case classes"
Currently, the documentation show insertion examples being done only through individual values:

[code]

It seems like it's possible to do insertions using the `Update` constructor but according to @tpolecat this is discouraged. This issue is mainly to look into why that is so.

[2017-02-17 08:45] wedens commented on #468
I'd like to know why using `Update` is discouraged. One reason I can think of is fields order dependency, but there is already fields order dependency in `Composite`.

I construct `Query` and `Update` explicitly for simplified testing.

E.g. I can write
[code]
instead of
[code]

By the way it'd be nice to have something that takes advantages of both:
[code]

[2017-02-20 17:31] od0 opened #469 "JDBC 42.0.0 Released"
(Not an issue so much as a note)

New JDBC released:
https://www.postgresql.org/about/news/1736/

Includes a versioning change as well:
https://jdbc.postgresql.org/documentation/faq.html#versioning

[2017-02-21 05:51] #469 closed

[2017-02-21 06:10] od0 commented on #469
I guess a PR would have been less work than an issue :)

[2017-02-21 06:11] tpolecat commented on #469
No worries, thanks for the heads-up.

[2017-02-24 16:57] slouc commented on #206
@ibalashov Did you ever resolve your problem

[2017-02-27 22:58] andykais opened #474 "scala 2.12 not supported for specs2"
the chart on the readme states that both `0.4.1` and `0.4.0` support scala `2.12` and

however, I can only update in sbt with `doobie-core`, `doobie-postgres` and `doobie-scalatest`. This build.sbt will fail for both scalaz and cats versions and version `0.4.1`:
[code]

[2017-02-27 23:11] tpolecat commented on #474
Hell. It looks like I have Specs2 v3.8.4 in the POM but it's evicted in doobie's own build by 3.8.6. If you add

[code]

to your dependencies everything resolves and should work. Give it a try.

Leaving open to fix in 0.4.2

[2017-02-28 00:18] andykais commented on #474
that works now, thanks! You may also want to update the "Book of Doobie" since the introduction page says 0.4.0 does not support scala 2.12:
[code]

[2017-02-28 00:34] tpolecat commented on #474
Ah good catch. Re-opening for doc fix.

[2017-03-05 20:42] tpolecat opened #477 "add import fs2.interop.cats._ note to doc"
This is non-obvious and commonly needed.

[2017-03-06 03:47] palashmandokhot opened #478 "how to interface and enum in this codes?"
[code]

[2017-03-06 04:19] tpolecat commented on #478
I don't understand the question, sorry. Can you be more specific?

[2017-03-06 04:38] tpolecat commented on #478
This question makes no sense, and the code you pasted is (a) in Java and (b) has no context at all. Can you please put a bit more effort into asking your question?

[2017-03-06 07:21] palashmandokhot commented on #478
but how to solve class,interface and enum problem shows in android studio.

On Mon, Mar 6, 2017 at 10:08 AM, Rob Norris <notifications@github.com>
wrote:

[2017-03-06 07:31] tpolecat commented on #478
Is it possible that you intended to ask this question elsewhere? This project is a database layer for Scala. It has nothing to do with Android.

[2017-03-06 07:47] palashmandokhot commented on #478
really

On Mon, Mar 6, 2017 at 1:01 PM, Rob Norris <notifications@github.com> wrote:

[2017-03-06 07:51] #478 closed

[2017-03-10 20:28] m4dc4p opened #479 "Add `fail` method to doobie.free.connection"
Sometimes you want a program to fail with a specific exception, which the `Catchable` typeclass' `fail` method is for. Currently, using `fail` requires some boilerplate:

[code]

It would be nicer to have `fail` available directly:

[code]

[2017-03-12 05:42] #479 closed

[2017-03-12 20:57] macalinao opened #482 "add monix support note to doc"
Here's the typeclass that's needed for Monix support:

[code]

[2017-03-13 05:21] tpolecat commented on #462
@unoexperto in a handwavey way the current design for reading is `(ResultSet, Int) => A` and then when you `xmap` the read extension is just `andThen`'d onto the right side. So you build up a function that reads all the way to your final type, then you go back and ask `.wasNull` on the `ResultSet` as step two.

The new design instead is `Coyoneda[(ResultSet, Int) => ?, A]` which is `((ResultSet, I

[2017-03-13 06:12] unoexperto commented on #462
Excellent ! What's ETA for new initial version ?

[2017-03-13 06:29] tpolecat commented on #462
It's what I'm using with [doobie-tsql](https://github.com/tpolecat/doobie-tsql) and something like it might make it back into the meta/atom/composite stack, or that might all go away. Not quite sure yet.

[2017-03-14 08:25] #459 closed

[2017-03-14 08:26] tpolecat commented on #334
This is addressed by fragments.

[2017-03-14 08:26] #334 closed

[2017-03-14 08:27] #99 closed

[2017-03-14 10:20] fanf commented on #334
Yes it is, in a very nice way!

[2017-03-15 18:36] unoexperto opened #485 "java.lang.StackOverflowError when large list is passed to Fragments.in()"
I get `StackOverflowError` when large list is passed to `Fragments.in()`

Looks like it's result of recursive call in `doobie.util.composite.zip()` in line `val set = .....`

I know it's bad practice to pass so many params to `IN` clause but for situations where performance is critical it would be great if doobie can be just slow but not crash the process.

Thanks!

[2017-03-16 04:52] tpolecat commented on #485
Can you attach a stacktrace that shows the cycle?

[2017-03-16 06:03] unoexperto commented on #485
Sure.

![image](https://cloud.githubusercontent.com/assets/1280853/23983833/54c89204-0a27-11e7-83fc-6f6ee9d553d6.png)

[code]

[2017-03-16 17:41] tpolecat opened #486 "0.4.1 book???"
where did it go?

[2017-03-17 22:37] fanf commented on #426
We are bitten (hard) by that one, to.
Our use case is that we are using Fragments.in in request targeting a variable number of servers for infra up to several thousands machines. So we are using the same requests that at a time can target a few (100s) servers, and the next time 7000. Until we switched tom Fragments.in, we didn't had problems - postgres seems quite forgiving on that.

So, perhaps I

[2017-03-17 22:38] fanf commented on #485
Seems related to #426

[2017-03-17 22:39] tpolecat commented on #426
As I have noted before this is a bad pattern of database use (if you have more than a handful of values in your `IN` clause you should create a temporary table and join with it) but I'll see what I can do.

[2017-03-18 04:20] #462 closed

[2017-03-18 06:44] fanf commented on #426
Is there a conventional limit above witch a temp table should be use in place of "in" clause? Postgres doesn't seem to have problems with a few thousands, so we didn't have to think about it.

How do you do that with doobie (anything special for?)?

[2017-03-20 10:36] etorreborre opened #489 "Cannot read a pgEnum column"
Here is my example:
[code]
Then I declare
[code]
Now if I try to check a simple SELECT query
[code]
I get
[code]
Since I have a proper implicit `Atom` definition in `SpsResult` I don't understand why the conversion from the PG enum cannot take place. Thanks.

[2017-03-20 11:07] fanf commented on #426
Reading Postgres documentation, the more effecient and natural way to replace an `IN` clause seems to use a `WITH` (https://www.postgresql.org/docs/9.2/static/queries-with.html) plus a `VALUES` (https://www.postgresql.org/docs/9.2/static/sql-values.html)

So it should lead to something like that:
[code]

[2017-03-20 16:36] tpolecat commented on #489
@etorreborre which version are you using? This is fixed in 0.4.0 by #431. If you're stuck on an older version we can probably copy/paste a workaround.

[2017-03-20 16:38] etorreborre commented on #489
I'm not stuck on anything, I'll try to upgrade thanks.

[2017-03-20 16:40] etorreborre commented on #489
I'm using `0.4.1` already, should I try `0.4.2-SNAPSHOT`?

[2017-03-20 16:47] tpolecat commented on #489
Hm, can you paste the entire checker output? It will probably work fine, it's almost certainly a problem in the checker's metadata. I'll take a look this morning.

[2017-03-20 16:51] etorreborre commented on #489
I get this
![image](https://cloud.githubusercontent.com/assets/10988/24111160/d9f22fe6-0d95-11e7-9871-0eba9ab7133b.png)
Is that the output you need?

[2017-03-20 16:52] tpolecat commented on #489
ya thx

[2017-03-20 17:58] tpolecat commented on #489
Ok yeah so I fixed this for the write case but I'm an idiot so I didn't fix the read case. You can copy/paste the relevant code from the PR above. I'll make a new snapshot later today but there are a number of nontrivial changes relative to 0.4.1 so you may not want to use the snapshot.

[2017-03-21 08:06] etorreborre commented on #489
I can wait for a proper `0.4.2` when it comes. Thanks for fixing this!

[2017-03-21 18:19] tpolecat commented on #489
Re-opening to keep on radar until I get a test in that PR.

[2017-03-24 07:10] 13h3r commented on #465
In case somebody interested I solved this.

The idea is to create `Free` program based on two separate `ConnectionOp`:
- introduce algebra that is `Coproduct` of two `ConnectionOp`s.
- lift stream of `ConnectionIO` to this algebra
- do `evalMap` in terms of algebra
- `run` stream and got `Free` program with new algebra
- write interpreter for algebra by composing two different interpreters

[2017-03-24 07:10] #465 closed

[2017-03-26 08:19] Ma27 commented on #206
the current workaround (I know it's a hack, but at least it ensures IntelliJ understands what I'm doing) with `0.4.1` I use looks like this:

[code]

[2017-03-26 16:05] #489 closed

[2017-03-26 16:59] od0 commented on #206
another option that works reasonably well-
[code]
IntelliJ will still be confused on `.query[Long]` but every subsequent operation on `query` will have full type interpretation. I actually kind of like explicitly defining the query string before beginning operations on it, particularly as queries and logic become more complex.

[2017-03-29 16:53] Jacoby6000 commented on #206
I believe the root cause of this not working is that the `sql` interpolator (and other fragment interpolators) use the `applyProduct` method, provided by shapeless' `ProductArgs` class.  This causes many apply methods to be generated, and I think Intellij is not witnessing the creation of these apply methods.  You could probably create an intellij plugin to fix it.  I started an attempt [here](htt

[2017-03-29 16:56] Daenyth commented on #206
@Jacoby6000 yes, see the comment above (https://github.com/tpolecat/doobie/issues/206#issuecomment-273171000) and the associated upstream bug ticket about this

[2017-03-29 17:25] Jacoby6000 commented on #206
Ah, my apologies.  I briefly looked over this comment thread and didn't see any mentions of `ProductArgs` in the comment chain and assumed it hadn't been talked about.

[2017-04-03 22:40] brinklec opened #495 "Fragment concatenation with constant and interpolated value"
I'm a beginner so I may be doing something stupid here, but it looks like the monoid for fragment concatenation is broken in 0.4.0 for Cats in a case that includes concatenation of a fragment containing a constant (e.g., for tablename) with a fragment containing an interpolated value.  Equivalent constructs with literals substituted for one or both of these work fine.

[code]

[2017-04-03 22:51] tpolecat commented on #495
The problem is that the constant fragment is constructed with a literal string and no space is added after concatenation. You an print a fragment to see its SQL to make this clear. You can fix this by appending a space to the table name or prepending one to the `WHERE` clause.

[code]

It's not clear that this is the best behavior. Perhaps there should be `const` and `const0` that mirror `fr` and

[2017-04-04 00:57] brinklec commented on #495
Beautiful and amazingly fast answer, thank you!!

[2017-04-05 09:32] ClementMalaingre commented on #454
Adding my two cents : a workaround is not to use BeforeAll as in specs 2 but to call the method beforeAll in the constructor. It's actually what specs2 tests do in their own code :
[code]

@etorreborre mentionned that a not-well known feature of specs2 might help with this issue : [Online specs](https://etorreborre.github.io/specs2/guide/SPECS2-3.8.9/org.specs2.guide.CreateOnlineSpecifications.htm

[2017-04-08 05:10] tejasmanohar commented on #206
Here's an extension of @od0's hack that doesn't require as much code pollution.
[code]

[2017-04-08 05:11] tpolecat commented on #206
That doesn't look right. `Query0` is not a fragment. It *has* a fragment though.

[2017-04-08 05:49] tejasmanohar commented on #206
Oh strange, not using it currently. Maybe, I fooled IntelliJ but not `scala` itself.

[2017-04-11 16:40] gruggiero opened #497 "The last published version for Scala 2.10 is 0.3.0"
Sonatype snapshot contains the last version, though.

[2017-04-11 22:00] unoexperto opened #500 "How do I convert fs2.Stream[ConnectionIO, T] to akka's Source[T, NotUsed] ?"
I'm using akka-http to implement API on my server. I see that doobie supports streaming results but I need it to be `akka.stream.scaladsl.Source[ByteString, NotUsed]` in order to return it to API client as chunked http.

How do I convert fs2.Stream[ConnectionIO, T] to akka's Source[T, NotUsed] ?

[2017-04-11 22:09] tpolecat commented on #500
I think this is the best answer we're likely to get

https://github.com/krasserm/streamz

[2017-04-11 22:09] #500 closed

[2017-04-12 01:26] tpolecat commented on #421
Just an update, in 0.4.2 you can do this by peeling off a new transactor with the `before` action set to a no-op.

`val newXa = Transactor.before.set(xa, FC.unit)`

[2017-04-12 03:47] #454 closed

[2017-04-12 23:40] tpolecat commented on #497
It appears something isn't configured quite right. @fiadliel points me to https://github.com/sbt/sbt-doge#usage-from-sbt-release which is quite likely the culprit. Will investigate.

[2017-04-19 17:58] tpolecat commented on #495
Still open because `const` and `const0` and also need doc … I will probably do this.

[2017-04-19 19:42] tpolecat opened #503 "roadmap meta-issue"
0.4.x
- [x] probably one more release on this series

0.5.0

Feature-equivalent with the last 0.4.x release, but reorganized for ✨ THE FUTURE ✨

- [x] yax-free, with cats, as announced [here](https://http4s.github.io/fp-ecosystem/). Clean up whitespace issues and weird import renames.
- [x] interpreter into `cats.effect.IO`, which should supplant `fs2.Task`
- [x] get rid of `Catchable` and `Suspen

[2017-04-20 03:53] #441 closed

[2017-04-20 03:59] #280 closed

[2017-04-20 04:01] #310 closed

[2017-04-20 04:01] tpolecat commented on #271
Closing, 0.5 won't support 2.10 anyway.

[2017-04-20 04:01] #271 closed

[2017-04-20 04:03] tpolecat commented on #196
easy way to do this?

[2017-04-20 04:08] tpolecat commented on #411
On 0.4.2 you can now peel off a new `Transactor` with a modified `before` action.

[code]

[2017-04-20 04:08] #411 closed

[2017-04-20 04:10] #421 closed

[2017-04-20 04:12] tpolecat commented on #447
duplicated by #477

[2017-04-20 04:12] #447 closed

[2017-04-20 04:15] #486 closed

[2017-04-20 05:59] tpolecat opened #504 "review doc for problems with versions and artifact names"

[2017-04-20 06:17] tpolecat opened #506 "update connection/transactor doc"
Be sure to add a notes re: #535 and #534

[2017-04-20 06:17] tpolecat opened #507 "add doc for custom interpreter"

[2017-04-20 09:45] mariussoutier commented on #482
Could you add the correct imports for the uninitiated? `.map(_.toEither)` doesn't compile for me.

[2017-04-20 16:11] macalinao commented on #482
@mariussoutier That's just `Try#toEither` (standard library) -- what Scala version are you using?

[2017-04-21 18:30] tpolecat opened #508 "Investigate -Ymacro-expand:normal"
It has been reported that `-Ymacro-expand:normal` can improve the presentation compiler's accuracy wth doobie (and other libs that use similar tricks). This is of interest to Eclipse and ENSIME users. See https://github.com/scala/bug/issues/9716 for details ona the origin of this suggestion. Thanks @fanf for bringing this to our attention!

Data points thus far:
- @fanf - *For information, for peo

[2017-04-23 12:29] japgolly commented on #421
Cool. Doobie's just happily purring along in the background, I haven't touched it in a while. Next time I do I'll check out this new way

[2017-04-23 19:31] tpolecat commented on #421
That's great to hear, man. 👍

[2017-04-23 22:32] adelbertc commented on #421
Best kind of code is code you don't think about ;)

[2017-04-26 13:42] rbobin commented on #482
@mariussoutier try fs2.util.Attempt

[2017-04-26 16:19] ChristopherDavenport commented on #401
Can confirm this bug. Any typechecked query results in an error.

[2017-04-26 16:23] tpolecat commented on #401
It's because Oracle is returning type constants that are outside the specification. I guess I could just have an `Unknown` constructor to handle those cases

[2017-05-01 04:51] jarreds opened #510 "Metaspace leak in Transactor"
On a project running SBT. Been running `test` "cycles" on the SBT prompt (`test`, write code, `test`, write code, etc.) After a short number of test iterations I get a metaspace out-of-memory exception.

Narrowed the leak down to the `Transactor`. I'm using a Postgres driver.

If I run the following after each test cycle it prevents the leak:

[code]

Not 100% certain what's leaking exactly and wh

[2017-05-01 12:09] ronanM opened #511 "[Intellij-2017.1.3EAP + Scala-2.11.11] not found: type IOLite"
When I upgrade my build from `2.11.8` to `2.11.11` there is an compile error in Intellij with `doobie.imports.IOLite` :

[code]

In command line with `sbt` it works.

[2017-05-01 17:26] tpolecat commented on #511
This sounds like something is misconfigured in IntelliJ.

[2017-05-02 07:28] KadekM commented on #511
Try to invalidate your caches: --> http://i.imgur.com/dIAr3Bs.png

[2017-05-02 07:40] wedens commented on #282
it is solved by new transactor/interpreters design, isn't it?

[2017-05-02 16:19] tpolecat commented on #282
Somehow I missed this. There is a [coproduct example](https://github.com/tpolecat/doobie/blob/series/0.4.x/yax/example/src/main/scala/example/Coproduct.scala) that addresses this question I think.

[2017-05-02 18:52] tpolecat commented on #468
I don't like the `Update("insert into person (name, age) values (?, ?)")` form because it relies on you knowing how wide the composite is and aligning the types correctly. You can catch it with `.check` but it's still much more error-prone. It's also a weird use case I think. But if you want to do it go ahead. The API isn't changing.

[2017-05-02 21:44] gstro opened #512 "Postgres recovery handlers can overflow stack"
Using Postgres recovery combinators recursively can overflow the stack.

For example, running the following:
[code]
on a column with a `UNIQUE` constraint has the following output:
[code]

[2017-05-02 22:09] edmundnoble commented on #512
@gstro You forgot to compare retries to zero and terminate.

[2017-05-02 22:18] tpolecat commented on #512
@edmundnoble yeah, but infinite retry should still work (and retry 1000 times shouldn't construct the whole chain eagerly).

[2017-05-02 23:43] edmundnoble commented on #512
Doesn't seem to construct the chain eagerly because ConnectionIO is Free. However, it sounds like you need a `FreeMonadError`, like the `IO` type in cats-effect (see the `AndThen` constructor).

[2017-05-03 00:08] gstro commented on #512
@edmundnoble You're right about the termination, though I got the same result when that was included:
[code]

The fix in #513 worked for me.

[2017-05-03 01:02] #512 closed

[2017-05-03 02:40] wedens commented on #468
@tpolecat I don't find it weird :) with `def insert(p: Person) = sql"insert into person (name, age) values (${p.name}, ${p.age})"` you have to supply some _unused_ `Person` instance to `check`.

[2017-05-03 06:51] tpolecat commented on #468
Yeah, having to instantiate the interpolated values is a drag. It's a tradeoff.

[2017-05-04 16:36] jesinity commented on #156
is it something that is going to be addressed?

[2017-05-04 16:59] wedens commented on #156
@jesinity it's already possible with [fragments](http://tpolecat.github.io/doobie-scalaz-0.4.0/08-Fragments.html)

[2017-05-10 04:30] #262 closed

[2017-05-11 00:10] tpolecat commented on #419
Open PR on this, see the code if you want to copy/paste the implementation. The driver maps this type to `java.util.Map<String, String>` so it's straightforward.

[2017-05-11 04:32] #419 closed

[2017-05-13 15:34] tpolecat opened #520 "Abstract over effect type in AnalysisSpec"
Analogous to #448 but for Specs2.

[2017-05-18 03:31] #448 closed

[2017-05-18 16:43] fanf commented on #508
I actually had a problem with eclipse configuration: dear ScalaIDE user, be careful that as soon as you use ```right click on a project -> Scala -> Set the Scala Installation```, then Eclipse enable per project setting and your global configuration line is not used. Moreover, the ```additionnal command line parameters``` in ```project -> properties -> scala compiler``` is set to ```-Ymacro-expand:

[2017-05-19 22:44] tpolecat opened #523 "JDBC type 2014"
See https://github.com/tpolecat/doobie/pull/522

[2017-05-20 09:25] NetanelRabinowitz opened #525 "aws Athena JDBC driver"
Is there a way to query aws athena using doobie ?

[2017-05-20 09:32] wedens commented on #525
Yes, If it has a JDBC driver. You can use any JDBC driver with doobie. Just configure `Transactor` to use it.

Note that there can be some quirks in driver implementation (e.g. https://github.com/tpolecat/doobie/issues/339).

[2017-05-20 16:47] tpolecat commented on #525
Yeah people use doobie with weird drivers and it works fine, but you sometimes need a reconfigured transactor because the first thing to disappear in these cloud databases is transactions.

[2017-05-20 16:48] tpolecat commented on #525
Let us know what happens and we can help you get it working.

[2017-05-20 18:43] dvic commented on #523
Can be closed 👍

[2017-05-21 12:53] NetanelRabinowitz commented on #525
Thanks @tpolecat !!
I created the following transactor:

[code]

tried to run a simple query:

[code]

and got the following exception:

[code]
any idea?

[2017-05-21 14:05] wedens commented on #525
You need to use a bit lower level API: `HC.createStatement(HS.executeQuery("select eventid from nglogs.clicks limit 10")(HRS.list[Int])).transact(xa)`

[2017-05-21 15:42] tpolecat commented on #525
Yeah, you can't use the `sql` interpolators unless you have prepared statements. It looks like Athena's driver is *extremely* minimal.

[2017-05-21 16:06] NetanelRabinowitz commented on #525
Thanks a lot!

[2017-05-21 21:36] #523 closed

[2017-05-24 05:55] tpolecat commented on #466
@n4to4 reports that it's also about 2x slower than Slick. See if we can optimize bulk inserts like we do with reads.

[2017-05-24 07:58] wedens commented on #466
For bulk inserts `COPY` should perform better.

[2017-05-24 07:59] tpolecat commented on #466
Aha, worth a try. I didn't know MySQL did that.

[2017-05-24 08:00] wedens commented on #466
I'm don't think mysql has `COPY`. So, it's not portable. I think @armundle uses postgresql.

[2017-05-24 08:07] vegansk commented on #466
Btw, mysql has multiple row insert syntax:
[code]

[2017-05-31 00:08] #520 closed

[2017-05-31 04:17] #401 closed

[2017-06-08 02:45] retronym commented on #508
FYI, this should become a non-problem in 2.12.3: https://github.com/scala/scala/pull/5929

[2017-06-11 15:21] ZizhengTai opened #529 "Refined contrib package not in 0.4.2-SNAPSHOT yet?"
It seems in the latest 0.4.2-SNAPSHOT there is no `doobie.refined` package. Adding it in could be really handy because we are making extensive use of Refined in our existing codebase.

[2017-06-12 03:35] n4to4 opened #530 "Customizable 'column type warning' failures for unit testing"
Use case: mapping `unsigned int` columns to Scala `Long`s for `select`ing to avoid possible `Int` overflows.

Currently, unit tests fail and report as follows:

[code]

It would be great if we could customize column type mappings, or setup to ignore some specific warnings, or something like that.

[2017-06-12 09:48] n4to4 commented on #529
There seems to be...?
https://oss.sonatype.org/#nexus-search;gav~org.tpolecat~doobie-refined_2.12~~~~kw,versionexpand

I haven't used it but I could download the jar file in `~/.ivy2/cache/org.tpolecat/doobie-refined_2.12/jars/doobie-refined_2.12-0.4.2-SNAPSHOT.jar`

[code]

[2017-06-13 09:23] mariussoutier commented on #482
This is the version that works for me (Scala 2.11):

[code]

[2017-06-14 05:37] ZizhengTai opened #531 "Update JSON codec meta example in tutorial"
In this example:

[code]

The `>: Null` part is no longer necessary, and `nxmap` should be replaced with `xmap`.

[2017-06-16 11:13] Arcovion opened #533 "withGeneratedKeys & transaction statements missing from logs"
On 0.4.2-SNAPSHOT inserts using `withUniqueGeneratedKeys` aren't being logged:
[code]
works, but this doesn't:
[code]
I'm using an implicit `LogHandler`

Also, is there any way of logging the BEGIN/COMMIT/ROLLBACK statements? I think it's useful info, makes it easier to parse visually when examining multiple transactions.
You have no way of knowing which statements have been rolled back otherwise,

[2017-06-16 11:16] Arcovion opened #534 "Update docs on how to run statements outside of a transaction"
I've been using the [`withoutTransaction` function](https://tpolecat.github.io/doobie-cats-0.4.0/17-FAQ.html#how-do-i-run-something-outside-of-a-transaction) given in the docs, but this appears to be broken in 0.4.2-SNAPSHOT (`java.sql.SQLException: database in auto-commit mode`).

The reason I'm doing this is to send pragmas to SQLite: the [sequel library for Ruby](https://github.com/jeremyevans/

[2017-06-16 11:22] Arcovion opened #535 "Add example to docs on how to auto-rollback transactions"
In sequel I can use [`DB.transaction(rollback: :always) { test_code }`](http://sequel.jeremyevans.net/rdoc/files/doc/testing_rdoc.html) for writing tests where every test is run in it's own transaction and then rolled back on completion. How can I do this with doobie?

I see the `util.transactor.Strategy` class should help me, but I'm struggling a bit and need an example showing the correct way to

[2017-06-16 12:08] wedens commented on #535
The easiest way is to rollback `x: ConnectionIO[A]` using `x *> HC.rollback`.

With `Strategy` you can do (using existing lens syntax) `(Transactor.strategy >=> Strategy.after).modify(transactor, _ => HC.rollback)`.

[2017-06-16 12:11] wedens commented on #534
I think you should run such `ConnectionIO` using `transactor.rawTrans`. It skips any transaction related logic.

[2017-06-16 12:19] pkoryzna opened #536 "Composite.apply returns null instead of compile error"
`Composite.apply[T]` for `T` that cannot be derived (e.g. because there's no instance for some fields in case class, etc.) returns `null` instead of compile error if the variable it's assigned to has a type annotation.

[code]

*edit* also see this example for ZDT alone: when type annotation is added, null is returned. Without it, the same line fails to compile as expected.

[code]

[2017-06-17 14:32] tpolecat commented on #535
You can shorten the above incantation a bit.

[code]

This requires the 0.4.2-SNAPSHOT right now. With earlier versions you need to subclass `Transactor` which is a bit more work.

[2017-06-17 22:37] tpolecat commented on #536
This is not a doobie bug. You could argue that it's Scala bug. An implicit declaration with a return type annotation is implicit *within its own definition,* which in this case is a direct self-reference that results in an uninitialized value.

[code]

If you leave off the annotation then the implicit *isn't* available in the body.

[code]

[2017-06-17 22:45] tpolecat commented on #536
I should point out that the desire to do this is suspicious … what is your intent in summoning instances and making them implicit in scope (since they're already available)?

[2017-06-17 22:53] tpolecat commented on #534
You might want to set this in the `before` field of the `Strategy`, prior to the default behavior `setAutoCommit(false)`.

[code]

[2017-06-18 00:47] tpolecat commented on #533
Current logging is limited, obviously. There will be good structured logging in an upcoming release.

[2017-06-18 08:10] pkoryzna commented on #536
Completely forgot that Scala does this, and I've got bitten by this once already...

wrt second question: PEBKAC - I put the instance in the local scope in hopes of finding out which `Meta` instance I'm missing by following compiler errors (instead of just simply going through fields one-by-one as recommended in the book, AFAIK).

[2017-06-19 11:17] #536 closed

[2017-06-19 18:23] beefyhalo commented on #282
Nice! Marking as closed. FWIW, I forgot about this "issue"... and after gaining some experience, I don't think I needed this all along.

[2017-06-19 18:23] #282 closed

[2017-06-26 22:14] #477 closed

[2017-06-26 22:14] #474 closed

[2017-06-26 22:17] #504 closed

[2017-06-26 22:41] pabloa commented on #535
If I write an integration test saying something like:
[code]

Is all happening in 1 database transaction?

[2017-06-27 02:22] tpolecat commented on #506
Still a bit of work to do here. Talk about configuring the `Strategy`.

[2017-06-27 02:23] tpolecat commented on #535
Doc issue rolled into #506

[2017-06-27 02:23] #535 closed

[2017-06-27 02:25] tpolecat commented on #534
Doc issue rolled into #506

[2017-06-27 02:25] #534 closed

[2017-06-27 02:26] tpolecat commented on #531
This is fixed in the dev doc.

[2017-06-27 02:26] #531 closed

[2017-06-27 02:29] tpolecat commented on #529
This is out there, at https://oss.sonatype.org/content/repositories/snapshots/org/tpolecat/doobie-refined-cats_2.12/0.4.2-SNAPSHOT/

[2017-06-27 02:29] #529 closed

[2017-06-27 02:29] #525 closed

[2017-06-27 02:29] #511 closed

[2017-06-27 02:32] tpolecat commented on #375
I just updated doobie-tsql for 0.4.2-SNAPSHOT if you want to try it. I'm going to open an issue over there about offline use and close this one.

[2017-06-27 02:32] #375 closed

[2017-06-29 20:41] #495 closed

[2017-07-04 03:50] solidsnack opened #541 "Parsing ranges by way of `Meta[PGobject]` fails..."
Or it is at least difficult to figure out how to do it. The implicit is written as `Meta.other[PGobject]("daterange").nxmap[corporate.DateRange](...)`. The query is like this:

[code]

When the query is run, there is an error thrown from `org.postgresql.jdbc.TimestampUtils.parseBackendTimestamp`: "Trailing junk on timestamp: '[2017-07-03,2017-07-04)'". This, despite the fact that in my current cod

[2017-07-04 04:06] solidsnack commented on #541
Stack trace is:
[code]

(Here reproduced by hand.) One thing I can not figure out, is why it tries to parse a date at all.

[2017-07-04 04:20] solidsnack commented on #541
Never mind. Code not being called -> Implicits not in scope in the interpreter.

All's well that ends well.

[2017-07-04 04:20] #541 closed

[2017-07-04 05:25] wedens opened #542 "Derivation strategies"
It would be useful to be able to choose how to use (or not to use) derivation:
- auto derivation (currently by default)
- semi-auto derivation (`implicit val userComposite: Composite[User] = deriveComposite[User]`)
- no derivation (custom instances)

For example: circe [provides](https://circe.github.io/circe/codec.html) such choice for codec derivation.

Drawbacks of auto-derivation as the only c

[2017-07-07 23:50] Wogan opened #543 "Example for streaming rows from one database to another."
As per [gitter](https://gitter.im/tpolecat/doobie?at=5960146c4bcd78af568a0255) conversation, I'm looking to stream rows from one database to another in an efficient fashion.

Ideally the book of doobie would have an example showing how to do this.

[2017-07-08 05:17] wedens commented on #543
Completely untested code for fs2. Shouldn't be difficult to translate to scalaz-stream.
[code]

[2017-07-12 22:50] tpolecat commented on #543
Ha I just saw your code @wedens! If it works I'll be embarrassed because mine is much more complicated. I'll try it ;-)

[2017-07-13 12:33] kressi opened #545 "Call next operation after a result set is implicitely closed"
With IBM JDBC driver I can read part of a result set without problems, but when the complete result set is read, following error occurs.
[code]

The problem is explained in detail on [stack overflow](https://stackoverflow.com/questions/45054638/doobie-streaming-query-causes-invalid-operation). On an [IBM Support site](http://www-01.ibm.com/support/docview.wss?uid=swg21461670) the error is further

[2017-07-14 04:06] tpolecat commented on #543
@wedens yours does work! Mine returns a stream though so I'm including both.

[2017-07-14 04:21] #543 closed

[2017-07-14 23:44] tpolecat commented on #545
I don't have a DB2 instance to test this, but it seems that you have a workaround by changing the driver configuration. It's possible that doobie calls `.next()` again after it returns `false` so I'll leave this open to investigate. Let me know if I'm misunderstanding.

[2017-07-15 21:47] #482 closed

[2017-07-15 22:16] #508 closed

[2017-07-17 14:33] kressi commented on #545
Right.

That's the stacktrace.
[code]

[2017-07-18 12:21] valenterry opened #551 "Nullpointerexception for mapped optional value case classes in right join"
When doing a right join and mapping the result into the specified case class, doobie seems to construct the fields of this case classes with `null`-values - to replace them with `None` after that. However, just initializing a case class can result in side-effects which can be a problem. I could minify it to the following example, using
[code]

Here is my code:
[code]

I used the following SQL to c

[2017-07-18 12:53] wedens commented on #551
related https://github.com/tpolecat/doobie/pull/540

[2017-07-20 17:03] Jacoby6000 opened #552 "Failing to map H2 UUID to scala UUID"
Continuing the discussion from gitter:

[code]

[2017-07-20 17:12] Jacoby6000 commented on #552
To add on to this, a `MERGE INTO` query exhibits strange behavior

[code]

[2017-07-20 17:49] Jacoby6000 commented on #552
Adding this query to the `h2types.scala` test suite also yields failure:

[code]
So at least I know UUIDs are somewhat broken.

[2017-07-20 18:22] Jacoby6000 commented on #552
I've created a branch with failing test cases demonstrating the issues above:
https://github.com/Jacoby6000/doobie/tree/h2-weirdness

[2017-07-20 19:53] Jacoby6000 commented on #552
I updated the branch with a different UUID meta type.

I've defined it like:
[code]

This fixes the issue with query analysis on UUID types, but still doesn't solve the merge problem.  With what I know about doobie, the problem with Merge seems more related to JDBC/H2 not reporting the correct column type for merge into columns. I'm not sure there's anything doobie can do about that.

[2017-07-24 09:24] valenterry opened #554 "Creating new postgres schema fails when using interpolation"
[code]

Gives:

However, when I replace `CREATE SCHEMA $schema` with `CREATE SCHEMA testschema` it works as expected.

Tested with doobie 4.0.1 + Postgres 9.6

[2017-07-24 15:12] tpolecat commented on #554
Prepared statements can have placeholders only in positions that the underlying database allows; Postgres doesn't allow one here. You can say

[code]

but note that this is a direct string concatenation and is **vulnerable to injection attack**. Do not pass user-supplied text to `Fragment.const`.

[2017-07-24 15:12] #554 closed

[2017-07-30 15:59] tpolecat commented on #551
Yes, this is a known issue in 0.4.1 and earlier.

[code]

The workaround is to create a pair of `Atom` instances for your data type rather than using the default `Meta` mapping.

This is fixed in 0.4.2.

[code]

[2017-07-30 15:59] #551 closed

[2017-07-30 16:33] tpolecat commented on #542
Yes, I like this approach. We can look at it in the 0.5 series.

[2017-07-30 17:41] tpolecat commented on #510
This is really a consequence of environment leakage when running `~test` or `~run` … it will always crash eventually, it just happens faster (evidently) when you're adding a JDBC driver to the pile. It would be nice to have a global cleanup hook somewhere in the test machinery.

[2017-07-30 17:43] tpolecat commented on #365
This was fixed in #515

[2017-07-30 17:43] #365 closed

[2017-07-30 17:43] tpolecat commented on #320
nobody cares anymore

[2017-07-30 17:43] #320 closed

[2017-07-30 22:39] #506 closed

[2017-08-02 15:48] etorreborre opened #560 "Reduce compilation times"
Several avenues could be explored here:

 1. recommend the use of the `-Yinduction-heuristics` compilation flag

 2. prioritize the implicits for `Composite` and `Meta` by introducing traits

[code]

[2017-08-02 16:50] tpolecat commented on #560
Thanks, we need to add some compile benchmarking. I'll check with Travis, he has done this for circe.

[2017-08-02 16:56] fthomas commented on #560
shapeless' [`compileTime`](https://github.com/milessabin/shapeless/blob/3396c373ad427124c92987a2124908bc640a64df/core/src/main/scala/shapeless/test/compiletime.scala#L25) macro might come in handy for that.

[2017-08-02 16:57] tpolecat commented on #560
Holy shit. That's perfect. The number of beers I owe Miles is uncountable at this point.

[2017-08-02 17:12] fthomas commented on #560
For `compileTime` I'll happily take that :beer: instead. ;)

[2017-08-02 17:12] tpolecat commented on #560
You're also on the list ;-)

[2017-08-02 17:24] Daenyth opened #561 "Add a type-unsafe Dynamic-based DSL for highly dynamic query construction"
doobie excels at sql whose syntax structure is relatively static, but if you need to dynamically change what tables are joined on, embed queries as subqueries, etc, it doesn't offer any DSL that makes it reasonable. Fragments make it possible but at that point you're doing glorified string concatenation.

A fully type safe AST DSL quickly becomes untenable to type statically, so I think a Dynamic

[2017-08-02 17:26] tpolecat commented on #561
Worth a look. https://www.sqlalchemy.org/

[2017-08-02 22:14] tpolecat commented on #497
Very close to saying fuck it, no 2.10 release because I can't get it to work.